- meta og: { title: 'Sobre a Mesclado', type: 'website', url: request.url, image: @about.about_strips.first.photo.url(:big), description:  @about.about_strips.first.strip_text.html_safe }, title: 'Sobre', description: 'Mesclado é a mistura. Somos designers, fotógrafos, artistas plásticos, ilustradores. E nos juntamos para estampar t-shirts que tratamos como peças de arte'

- if @about.testimonials.present?
  .testimonials-area
    #testimonials
      - @about.testimonials.each do |test|
        .testimonial.text-center
          .test-title= "\"#{test.test_title}\""
          .test-author= test.test_author
          - if test.test_from
            .test-from= test.test_from
    - if @about.testimonials.length > 1
      - { left: 'prev', right: 'next' }.each do |k, v|
        %button{ type: 'button', role: 'button''', class: "#{k.to_s} carousel-control", data: { slide: v } }
          = fa_icon "angle-#{k.to_s}"

- if @about.about_strips.present?
  .strips-area
    - @about.about_strips.each_with_index do |strip, i|
      .strip{ class: "#{'inverted' if i == 0}" }
        .row
          .col-xs-15{ class: "#{'pull-right' unless i%2 == 0}" }
            .item.cover{ style: "background-image: url('#{strip.photo.url(:big)}');"}
          .col-xs-15.strip-content
            .vertical-aligned
              %h3= strip.strip_title
              .content= strip.strip_text.html_safe

.text-center.about-footer
  = link_to 'VEJA A GALERIA', products_path

