%h1.title= @static_page.name

.container
  - @static_page.faq_questions.each_with_index do |q, i|
    .accordion{ id: "accordion#{i}" }
      = link_to q.question.html_safe, "#collapse#{q.id}", data: { toggle: 'collapse', parent: "#accordion#{i}" }, class: 'collapsed'
      .collapse.answer{ id: "collapse#{q.id}" }
        = q.answer.html_safe


.faq-footer.text-center
  = link_to 'Ainda com dúvidas', new_contact_path
