- meta og: { title: 'Mesclado', type: 'website', url: request.url }, description: 'Nós vemos as camisetas como mais uma plataforma de expressão artística. Somos designers, fotógrafos, artistas plásticos, ilustradores, grafiteiros... temos estilos bem diferentes, gostos peculiares e dominamos diferentes técnicas de expressão visual. Nos juntamos aqui para estampar t-shirts que tratamos como peças de arte'

.home
  = render 'outsiders/facebook_pixel_home'
  .row.home-product-variations-row
    .col-xs-10.home-black-block.text-center.full-height
      .vertical-aligned
        %h2 Mais vendidas
        / %p Lorem ipsum dolor sit amet, ei eum autem nullam appellantur. Elit cibo nostrum qui in.
        = link_to products_path, onclick: "ga('send', 'event', 'Home', 'Mais Vendidas', 'Conheça nossa Galeria');" do
          = fa_icon 'plus-circle inverse', text: 'Conheça toda a nossa galeria'
    .col-xs-20.full-height
      .products-tray.full-height
        - @product_variations.each do |pv|
          - product = pv.product
          - artist = product.artist
          .home-product-variation-thumb.full-height
            = image_tag pv.photo.url(:thumb)
            .overlay-area.text-center
              .thumb-details.text-center.details-top
                %p.product-name= product.name
                .artist-name
                  %span por
                  = link_to artist.name, artist
              = link_to 'Comprar', product, class: 'borderless-button', onclick: "ga('send', 'event', 'Home', 'Mais Vendidas', 'Comprar');"
              .thumb-details.text-center
                - if product.possible_promotions.present?
                  %p.price-no-discount= "de #{product.price_in_cents.to_brazilian_currency}"
                  %p.price= "por #{product.total_value.to_brazilian_currency}"
                - else
                  %p.price= product.total_value.to_brazilian_currency
      - { left: 'prev', right: 'next' }.each do |k, v|
        %button{ type: 'button', role: 'button''', class: "#{k.to_s} carousel-control", data: { slide: v } }
          = fa_icon "angle-#{k.to_s}"

  .row.home-product-variations-row
    .col-xs-20.full-height
      .products-tray.full-height
        - @most_recent_product_variations.each do |pv|
          - product = pv.product
          - artist = product.artist
          .home-product-variation-thumb.full-height
            = image_tag pv.photo.url(:thumb)
            .overlay-area.text-center
              .thumb-details.text-center.details-top
                %p.product-name= product.name
                .artist-name
                  %span por
                  = link_to artist.name, artist
              = link_to 'Comprar', product, class: 'borderless-button', onclick: "ga('send', 'event', 'Home', 'Novas Artes', 'Comprar');"
              .thumb-details.text-center
                - if product.possible_promotions.present?
                  %p.price-no-discount= "de #{product.price_in_cents.to_brazilian_currency}"
                  %p.price= "por #{product.total_value.to_brazilian_currency}"
                - else
                  %p.price= product.total_value.to_brazilian_currency
      - { left: 'prev', right: 'next' }.each do |k, v|
        %button{ type: 'button', role: 'button''', class: "#{k.to_s} carousel-control", data: { slide: v } }
          = fa_icon "angle-#{k.to_s}"
    .col-xs-10.home-black-block.text-center.full-height
      .vertical-aligned
        %h2 Novas artes
        / %p Lorem ipsum dolor sit amet, ei eum autem nullam appellantur. Elit cibo nostrum qui in.
        = link_to products_path, onclick: "ga('send', 'event', 'Home', 'Novas Artes', 'Conheça nossa Galeria');" do
          = fa_icon 'plus-circle inverse', text: 'Conheça toda a nossa galeria'

  .row.home-products
    .col-xs-30.text-center
      %h2 Galeria
      / %p Lorem ipsum dolor sit amet, ei eum autem nullam appellantur. Elit cibo nostrum qui in. Malorum imperdiet laboramus ne his.


  .products-organizer.text-center
    - if @keywords.present?
      .organize-products.keywords
        .organizer-bt
          Tags
          = fa_icon 'angle-down 2x'
        .organizer-popup
          .search-keywords
            %input{ type: 'text' }
            = fa_icon 'search'
          .possible-keywords
            - @keywords.each do |k|
              = link_to k.name.capitalize, products_path(tag: k.name), data: { key: k.name }
    .divider
    / .organize-products.price
    /   .organizer-bt
    /     Preço
    /     = fa_icon 'angle-down 2x'
    /   .organizer-popup
    /     = link_to 'Crescente', products_path(price: 'ASC')
    /     = link_to 'Decrescente', products_path(price: 'DESC')
    = link_to products_path, class: 'random-products-link' do
      Random
      = fa_icon 'random'

  - if @products.any?
    = render 'shared/list', list: @products.limit(27), n: 9, page: 'products/page', ajax_url: '/produtos/pagina', gallery: products_path, with_ga: true

  .row.home-artists-row
    .col-xs-20.full-height
      - @artists.in_groups(2) do |g|
        .row.inner-artist-row
          = render partial: 'artists/thumb', collection: g, as: :artist, locals: { div_class: 'col-xs-10 full-height' }, ga_active: true
          -# - g.each do |artist|
          -#   .col-xs-10.full-height
          -#     = render 'artists/thumb', artist: artist, type: :medium
    .col-xs-10.full-height.home-black-block.text-center
      .vertical-aligned
        %h2 Artistas
        / %p Lorem ipsum dolor sit amet, ei eum autem nullam appellantur. Elit cibo nostrum qui in. Malorum imperdiet laboramus ne his. Legimus delicatissimi eos et, dolor posidonium mel ut.
        = link_to artists_path, onclick: "ga('send', 'event', 'Home', 'Artistas', 'Conheça Nossos Artistas');" do
          = fa_icon 'plus-circle inverse', text: 'Conheça nossos artistas'

  - if @instagram_photos.present?
    .row.social-footer
      .row
        .col-xs-30.social-title.text-center
          %span No instagram
          = fa_icon 'instagram 3x'
          %span poste #SEJAMESCLADO
      .row
        .col-xs-30.social-content
          .row.instagram-photos-row
            - @instagram_photos.first(6).each do |ip|
              .col-xs-5
                = link_to image_tag(ensure_https(ip['images']['low_resolution']['url'])), ip['link'], target: '_blank', class: 'grayscale'
          .row.instagram-photos-row
            - groups = @instagram_photos.last(4).in_groups(2)
            - groups.first.each do |ip|
              .col-xs-5
                = link_to image_tag(ensure_https(ip['images']['low_resolution']['url'])), ip['link'], target: '_blank', class: 'grayscale'
            .col-xs-5
              / = link_to 'https://www.pinterest.com/sejamesclado/', class: 'social-square pinterest-square', target: '_blank' do
              = link_to 'https://instagram.com/sejamesclado', class: 'social-square pinterest-square', target: '_blank' do
                .vertical-aligned
                  = fa_icon 'instagram 3x'
                  %p Siga MESCLADO no Instagram
            .col-xs-5
              = link_to 'https://www.facebook.com/pages/sejaMesclado/1402779966656313', class: 'social-square facebook-square', target: '_blank' do
                .vertical-aligned
                  = fa_icon 'facebook 3x'
                  %p Curta MESCLADO no Facebook
            - groups.last.each do |ip|
              .col-xs-5
                = link_to image_tag(ensure_https(ip['images']['low_resolution']['url'])), ip['link'], target: '_blank', class: 'grayscale'


