%ul#pos-list.container
  - @pos.each do |pos|
    %li.pos.row
      .col-xs-8
        = image_tag pos.photo.url(:standard)
      .col-xs-22
        %h2= pos.name
        %p= pos.description
        %p.address
          %span.title= "Endereço: "
          = pos.address
