%html
  %body{ style: 'font-family: Arial;' }
    = render 'shared/mail_header'
    %p
      Olá,
      %b{ style: 'font-size: 18px;' }= "#{@user.name},"
    %p{ style: 'margin-bottom: 5px;' }
      Obrigado por comprar na
      %b Mesclado.
    %p{ style: 'margin-top: 0px;' } Seu pedido foi recebido, registrado com sucesso em nosso sistema e encaminhado para o faturamento. Assim que o pagamento for confirmado, o mesmo será liberado para entrega. Por favor, confira os dados abaixo e lembre-se que eles devem estar corretos e completos para que a entrega seja efetuada com sucesso.

    = render 'shared/mail_transaction_general_info'

    = render 'shared/mail_cart_items'

    = render 'shared/mail_price_totals'

    - if @address
      = render 'shared/mail_address'

    %h3{ style: 'margin-bottom: 0;' } Prazo de Entrega:
    %p{ style: 'margin-top: 5px;' } O prazo de entrega deve ser contado a partir da efetivação da transação, seja ela feita por cartão de crédito ou boleto bancário. Informamos também que para contagem do prazo de entrega dos produtos, consideramos dias úteis de segunda a sexta-feira das 8h00 às 18h00, exceto feriados.

    %h3{ style: 'margin-bottom: 0;' } Considerações Finais:
    %p{ style: 'margin-top: 5px;' } Para sua segurança, não delete esse e-mail. Se preferir, imprima. Esse e-mail é a confirmação de que recebemos seu pedido. Você receberá outro e-mail confirmando a aprovação ou a recusa da transação.

    = render 'shared/mail_contact'

    = render 'shared/mail_footer'
