%html
  %body{ style: 'font-family: Arial;' }
    = render 'shared/mail_header'
    %p
      Olá,
      %b{ style: 'font-size: 18px;' }= "#{@user.name},"
    / %p{ style: 'margin-bottom: 5px;' }
    /   Obrigado por comprar na
    /   %b Mesclado.
    %p{ style: 'margin-top: 0px;' } Seu pagamento foi recebido e aprovado com sucesso em nosso sistema. Estamos trabalhando para realizar o envio dos seus produtos o mais rápido possível.

    = render 'shared/mail_transaction_general_info'

    = render 'shared/mail_cart_items'

    = render 'shared/mail_price_totals'

    - if @address
      = render 'shared/mail_address'

    %h3{ style: 'margin-bottom: 0;' } Prazo de Entrega:
    %p{ style: 'margin-top: 5px;' } O prazo de entrega deve ser contado a partir do recebimento deste e-amil. Informamos também que para contagem do prazo de entrega dos produtos, consideramos dias úteis de segunda a sexta-feira das 8h00 às 18h00, exceto feriados.

    %h3{ style: 'margin-bottom: 0;' } Considerações Finais:
    %p{ style: 'margin-top: 5px;' } Para sua segurança, não delete esse e-mail. Se preferir, imprima. Esse e-mail confirma que recebemos seu pagamento. Você receberá outro e-mail confirmando o envio dos seus produtos.

    = render 'shared/mail_contact'

    = render 'shared/mail_footer'
