%html
  %body{ style: 'font-family: Arial;' }
    = render 'shared/mail_header'
    %p
      Olá,
      %b{ style: 'font-size: 18px;' }= "#{@user.name},"
    / %p{ style: 'margin-bottom: 5px;' }
    /   Obrigado por comprar na
    /   %b Mesclado.
    %p{ style: 'margin-top: 0px;' } Infelizmente não recebemos a confirmação do seu pagamento. Sugerimos que você entre em contato com a sua operadora de cartão de créidto ou seu banco para saber mais detalhes do que aconteceu.
    %p Você pode efetuar a compra novamente
    = link_to 'em nosso site.', root_path

    = render 'shared/mail_transaction_general_info'

    / = render 'shared/mail_cart_items'

    = render 'shared/mail_price_totals'

    / - if @address
    /   = render 'shared/mail_address'

    = render 'shared/mail_contact'

    = render 'shared/mail_footer'
