%html
  %body{ style: 'font-family: Arial;' }
    = render 'shared/mail_header'
    %p
      Olá,
      %b{ style: 'font-size: 18px;' }= "#{@user.name},"
    / %p{ style: 'margin-bottom: 5px;' }
    /   Obrigado por comprar na
    /   %b Mesclado.
    %p{ style: 'margin-top: 0px;' }
      Seus produtos foram enviados para o endereço cadastrado. O seu código de rastreamento dos correios é
      = @transaction.cart.tracking_code
      Você pode acompanhar o seu pedido através
      = link_to 'desse link.', "http://websro.correios.com.br/sro_bin/txect01$.QueryList?P_LINGUA=001&P_TIPO=001&P_COD_UNI=#{@transaction.cart.tracking_code}"

    = render 'shared/mail_transaction_general_info'

    = render 'shared/mail_cart_items'

    = render 'shared/mail_price_totals'

    - if @address
      = render 'shared/mail_address'

    %h3{ style: 'margin-bottom: 0;' } Prazo de Entrega:
    %p{ style: 'margin-top: 5px;' } Para contagem do prazo de entrega dos produtos, consideramos dias úteis de segunda a sexta-feira das 8h00 às 18h00, exceto feriados.

    %h3{ style: 'margin-bottom: 0;' } Considerações Finais:
    %p{ style: 'margin-top: 5px;' } Para sua segurança, não delete esse e-mail. Se preferir, imprima. Esse e-mail é a confirmação de que enviamos seus produtos.

    = render 'shared/mail_contact'

    = render 'shared/mail_footer'
