.page-container{ style: ('position: relative;' if params[:page] == 0 and list.length < 12), data: { page: params[:page] } }
  - list.each_slice(4) do |slice|
    .row.artists-row
      = render partial: 'artists/thumb', collection: slice, as: :artist, locals: { div_style: 'display: inline-block' }
      -# - slice.each do |p|
      -#   = render 'artists/thumb', artist: p
