- type ||= :thumb
- div_class ||= ''
- div_style ||= ''
- ga_active ||= false

%div{ class: div_class, style: div_style }
  .artist-thumb
    = image_tag artist.photo.url(type), class: 'artist-thumb-image'
    .overlay-area.text-center
      = link_to artist.name, artist, class: 'borderless-button', onclick: ga_active ? "ga('send', 'event', 'Home', 'Artistas', 'Ver artista');" : '', style: 'cursor: pointer !important;'
      / .likes
      /   = image_tag 'thumbs-up-29.png'
      /   %span= get_facebook_likes(artist_url(artist))
