- meta title: 'Artistas', description: 'Conheça os artistas que fazem parte da Mesclado'

.artists-index
  = render 'outsiders/facebook_pixel_categories'
  = render 'shared/list', list: @artists, n: 12, page: 'artists/page', ajax_url: '/artistas/pagina'
