- meta og: { title: @artist.name, type: 'website', url: request.url, image: @artist.photo.url(:medium), description: ActionController::Base.helpers.strip_tags(@artist.sub_title.html_safe) }
- meta title: @artist.name

.profile-picture= image_tag @artist.photo.url(:thumb)

.container.text-center.details-container
  = render 'outsiders/facebook_pixel_artists'
  .row.artist-top-part
    .col-xs-15.text-center.artist-info-column
      %h1.artist-title= @artist.name
      - [@artist.sub_title, @artist.address].each do |info|
        - unless info.blank?
          %p.artist-info= info
      - if @artist.description.present?
        .artist-details-button.artist-more-details= fa_icon('plus-circle', text: 'Detalhes')
        .artist-details-button.artist-less-details.display-none= fa_icon('minus-circle')
        / = link_to fa_icon('minus-circle'), '#', class: 'artist-less-details hidden'
      .artist-fb-like.fb-like{ data: { href: artist_url(@artist), layout: 'button_count', action: 'like', :'show-faces' => 'false', share: 'false' }, style: 'z-index: 10' }
    - if @artist.description.present?
      .col-xs-15.artist-info-column.text-left{ style: 'opacity: 0;' }
        .row
          .col-xs-30= @artist.description.html_safe
        - if @artist.facebook_url.present? or @artist.instagram_url.present?
          .row.artist-social-media
            .col-xs-30
              - if @artist.instagram_url.present?
                = link_to fa_icon('instagram 2x'), @artist.instagram_url
              - if @artist.facebook_url.present?
                = link_to fa_icon('facebook 2x'), @artist.facebook_url

- if @products
  = render 'shared/list', list: @products, n: 9, page: 'products/page', ajax_url: '/produtos/pagina'

.container.other-artists
  .row.other-artists-line
    .col-xs-30
      .other-artists-title Outros Artistas
      %hr
  .row.text-center
    = render partial: 'artists/thumb', collection: @other_artists, as: :artist, locals: { div_style: 'display: inline-block;' }
    -# - @other_artists.each do |artist|
    -#   = render 'artists/thumb', artist: artist

