<% flash.each do |name, msg| %>
  <%= add_gritter msg, :class_name => "gritter-#{name}", title: I18n.t("gflash.titles.#{name}") %>
<% end %>

window.stop_loading()

$(document).ready(function() {
  old_bt = $('.favorite-button');
  bt = old_bt.attr({
    'href': "<%= favorite_path(current_user.has_favorite?(@product)) %>"
  }).addClass('yellow').clone()
  bt.attr('data-method', 'delete');
  old_bt.after(bt);
  old_bt.remove();
});
