<% flash.each do |name, msg| %>
  <%= add_gritter msg, :class_name => "gritter-#{name}", title: I18n.t("gflash.titles.#{name}") %>
<% end %>

window.stop_loading()

$(document).ready(function() {
  old_bt = $('.favorite-button');
  bt = old_bt.attr({
    'href': "<%= product_favorites_path(@product) %>"
  }).removeClass('yellow').clone()
  bt.attr('data-method', 'post');
  old_bt.after(bt);
  old_bt.remove();
});
