
= render 'users/account_header', selected: :favorites

- if @products.present?
  = render 'shared/list', list: @products, n: 9, page: 'products/page', ajax_url: '/produtos/pagina'
- else
  .container.text-center.no-favorites
    %p Você não possui nenhuma estampa favorita.
