$(document).ready(function() {
  <% flash.each do |name, msg| %>
    <% unless name == 'success' or name == 'notice' %>
      <%= add_gritter msg, :class_name => "gritter-#{name}", title: I18n.t("gflash.titles.#{name}") %>
    <% end %>
  <% end %>

  <% if params[:user][:email].blank? or !resource %>
    $('#new_user_session').find("#user_email").parents('.float-label-input:first').addClass('error');
  <% else %>
    $('#new_user_session').find("#user_email").parents('.float-label-input:first').removeClass('error');
  <% end %>

  <% if params[:user][:password].blank? %>
    $('#new_user_session').find("#user_password").parents('.float-label-input:first').addClass('error');
  <% else %>
    $('#new_user_session').find("#user_password").parents('.float-label-input:first').removeClass('error');
  <% end %>

  <% if resource %>
    window.location = "<%= after_sign_in_path_for(resource) %>";
  <% else %>
    window.stop_loading();
  <% end %>
});

