.row
  .col-xs-15.with-right-line.or-on-right-line
    %h2 Já é um membro?
    = semantic_form_for resource, as: resource_name, url: session_path(resource_name), remote: true, html: { class: 'float-label', id: 'new_user_session', autocomplete: 'off' } do |f|
      .float-label-input
        = f.email_field :email, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
        = f.label :email, 'E-mail'
        = fa_icon 'envelope'
      %input{ type: 'password', name: 'password_fake', id: 'password_fake', value: '', style: 'display: none;' }
      .float-label-input
        = f.password_field :password, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
        = f.label :password, 'Senha'
        = fa_icon 'lock'
      .show-password{ onclick: "elem = $(this).parents('form').find('#user_password'); if(elem.attr('type') == 'password') elem.attr('type', 'text'); else elem.attr('type', 'password');" }
        = fa_icon 'eye 2x', data: { toggle: 'tooltip', placement: 'top' }, title: 'Mostrar senha'
      = f.action :submit, as: :button, label: 'Entrar', button_html: { onclick: "window.start_loading();" }


    = link_to 'Esqueceu a senha?', new_password_path(resource_name), class: 'forgot-password', data: { toggle: 'modal', target: '#modal' }, onclick: "$('#modal-lg').modal('hide');"

    = link_to user_omniauth_authorize_path(:facebook), class: 'facebook-login' do
      = fa_icon 'facebook'
      Login com Facebook
  .col-xs-15
    = render partial: 'users/registrations/new'
