<% flash.each do |name, msg| %>
  <%= add_gritter msg, :class_name => "gritter-#{name}", title: I18n.t("gflash.titles.#{name}") %>
<% end %>

<% @newsletter.errors.each do |error| %>
  $('#new_newsletter').find("#newsletter_<%= error %>").addClass('error');
  $('#new_newsletter').find("label[for='newsletter_<%= error %>']").addClass('error');
<% end %>

<% if @newsletter.persisted? %>
  $('#new_newsletter').find('.error').removeClass('error');
  $('#new_newsletter').find('input').val('');
  $('#new_newsletter').find('input').attr('value', '');
<% end %>

window.stop_loading();
