
.container.account-header
  %h3.text-center= "Bem vindo, #{current_user.name}"
  %ul.nav.nav-tabs{ role: 'tablist' }
    %li{ class: ('active' if selected == :transactions) }
      = link_to transactions_index_path do
        = fa_icon 'cubes'
        Meus pedidos
    %li{ class: ('active' if selected == :favorites) }
      = link_to favorites_path do
        = fa_icon 'star-o'
        Estampas favoritas
    %li{ class: ('active' if selected == :edit) }
      = link_to edit_user_registration_path do
        = fa_icon 'user'
        Editar Perfil
