<% flash.each do |name, msg| %>
  <%= add_gritter msg, :class_name => "gritter-#{name}", title: I18n.t("gflash.titles.#{name}") %>
<% end %>

<%= render 'carts/update_cart_page.js.erb', action: :coupon_added %>
