- params[:page] ||= 0
- total_pages = (list.length / n.to_f).ceil
- current_items = list.each_slice(n).to_a[params[:page]]
- gallery ||= nil
- with_ga ||= false
/ - if total_pages > 1
/   .row.text-center.items-pagination
/     - (0..total_pages-1).each do |i|
/       .page-button{ class: ('selected' if i == params[:page]), data: { page: i } }= i+1

.container.items-pagination-container{ style: ('min-height: 0;' if total_pages <= 1 and current_items.length <= n), data: { url: ajax_url, :'total-pages' => total_pages } }
  / - for i in 0..(total_pages-1)
  /   - current_items = list.each_slice(n).to_a[i]
  = render page, list: current_items, with_ga: with_ga

/ - if total_pages > 1
/   .row.text-center.items-pagination
/     - (0..total_pages-1).each do |i|
/       .page-button{ class: ('selected' if i == params[:page]), data: { page: i } }= i+1

.container.text-center
  = image_tag 'mesclado-load.gif', class: 'small-loading', style: 'display: none;'
  %button.more-items-link Carregar mais

- if gallery
  .container.text-center.see-all-link
    - if with_ga
      = link_to 'Ver todas as artes', gallery, onclick: "ga('send', 'event', 'Home', 'Todas as Artes', 'Ver Todas as Artes');"
    - else
      = link_to 'Ver todas as artes', gallery

.items-ajax-reference
  - list.each_slice(n).each do |slice|
    .items-slice
      - slice.each do |item|
        .item{ data: { id: item.id } }
