%h3{ style: 'margin-bottom: 0;' } Contato
%p{ style: 'margin: 3px;' }
  Telefone:
  %b 2236-3497
  (Segunda a Sexta de 7h00 às 16h30)
%p{ style: 'margin: 3px;' }
  Celular:
  %b 99983-7749
  (Demais horários)
%p{ style: 'margin: 3px;' }
  E-mail:
  %b contato@mesclado.com.br
