%table{ style: 'margin: 10px 0; width: 100%' }
  %thead{ style: 'width: 100%;' }
    %tr{ style: 'width: 100%; background-color: black; color: white; text-align: left;' }
      %th{ style: 'padding: 10px 5px; outline: 1px solid black;' } FORMA DE PAGAMENTO
      %th{ style: 'padding: 10px 5px; outline: 1px solid black;' }
  %tbody
    %tr
      %td{ style: 'padding: 10px 0 0 10px; width: 50%;' } Subtotal
      %td{ style: 'padding: 10px 0 0 10px; width: 50%;' }= @transaction.cart.total_price_no_shipping_no_discount.to_brazilian_currency
    %tr
      %td{ style: 'padding: 0 0 0 10px;' } Frete
      %td{ style: 'padding: 0 0 0 10px;' }= @transaction.cart.shipping_price_in_cents.to_brazilian_currency
    %tr
      %td{ style: 'padding: 0 0 0 10px;' } Desconto
      %td{ style: 'padding: 0 0 0 10px;' }= @transaction.cart.discount.to_brazilian_currency
    %tr
      %td{ style: 'padding: 0 0 0 10px;' } Total
      %td{ style: 'padding: 0 0 0 10px;' }= @transaction.cart.total_price.to_brazilian_currency
