%table{ style: 'width: 100%;' }
  %tbody{ style: 'width: 100%;' }
    %tr{ style: 'width: 100%; background-color: black; color: white;' }
      %td{ style: 'padding: 10px; outline: 1px solid black;' }= image_tag 'logo-small.png', style: 'display: block; margin-left: auto; margin-right: auto; height: 35px !important; max-height: 35px !important; width: auto;'
