%table{ style: 'margin: 10px 0; width: 100%' }
  %thead{ style: 'width: 100%;' }
    %tr{ style: 'width: 100%; background-color: black; color: white; text-align: left;' }
      %th{ style: 'padding: 10px 5px; outline: 1px solid black;' } ENDEREÇO DE ENTREGA
      %th{ style: 'padding: 10px 5px; outline: 1px solid black;' }
  %tbody
    %tr
      %td{ style: 'padding: 10px 0 0 10px; width: 50%;' } Endereço
      %td{ style: 'padding: 10px 0 0 10px; width: 50%;' }= "#{@address.street} #{@address.street_number} / #{@address.complement}"
    %tr
      %td{ style: 'padding: 0 0 0 10px;' } Bairro
      %td{ style: 'padding: 0 0 0 10px;' }= @address.neighborhood
    %tr
      %td{ style: 'padding: 0 0 0 10px;' } Cidade
      %td{ style: 'padding: 0 0 0 10px;' }= @address.city
    %tr
      %td{ style: 'padding: 0 0 0 10px;' } Estado
      %td{ style: 'padding: 0 0 0 10px;' }= @address.state
    %tr
      %td{ style: 'padding: 0 0 0 10px;' } CEP
      %td{ style: 'padding: 0 0 0 10px;' }= @address.zip_code
