%table{ style: 'margin: 10px 0; width: 100%' }
  %thead{ style: 'width: 100%;' }
    %tr{ style: 'width: 100%; background-color: black; color: white; text-align: left;' }
      %th{ style: 'padding: 10px 5px; outline: 1px solid black; width: 50%;' } DADOS DO PEDIDO
      %th{ style: 'padding: 10px 5px; outline: 1px solid black; width: 50%;' }
  %tbody
    %tr
      %td{ style: 'padding: 10px 0 0 10px;' } Número do pedido
      %td{ style: 'padding: 10px 0 0 10px;' }= @transaction.cart.reference
    %tr
      %td{ style: 'padding: 0 0 0 10px;' } Data da compra
      %td{ style: 'padding: 0 0 0 10px;' }= @transaction.created_at.strftime("%d/%m/%Y às %H:%M")
