%table{ style: 'margin: 10px 0; width: 100%' }
  %thead{ style: 'width: 100%;' }
    %tr{ style: 'width: 100%; background-color: black; color: white; text-align: left;' }
      %th{ style: 'padding: 10px 5px; outline: 1px solid black; width: 50%;' } PRODUTO
      %th{ style: 'padding: 10px 5px; outline: 1px solid black; width: 25%;' } QUANTIDADE
      %th{ style: 'padding: 10px 5px; outline: 1px solid black; width: 25%;' } PREÇO UNT
  %tbody
    - @transaction.cart.cart_items.each_with_index do |ci, i|
      %tr
        %td{ style: "#{'padding-top: 10px;' if i == 0} padding-left: 10px" }= ci.name
        %td{ style: "#{'padding-top: 10px;' if i == 0} padding-left: 10px" }= ci.amount
        %td{ style: "#{'padding-top: 10px;' if i == 0} padding-left: 10px" }= ci.unit_price_in_cents.to_brazilian_currency
