- meta title: 'Contato'

%h1.title{ style: ('margin-top: 150px' unless @banner.present?) } Contato

%p.page-text
  Antes de enviar a mensagem, verifique se sua dúvida já foi respondida no
  = link_to 'FAQ', StaticPage.where(name: 'FAQ').first
  do site

= semantic_form_for @contact, html: { class: 'float-label' } do |f|
  .float-label-input{ class: ('error' if @contact.errors.present? and @contact.errors[:name].present?) }
    = f.text_field :name, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
    = f.label :name, 'Nome'
  - if @contact.errors.present? and @contact.errors[:name].present?
    .error-message= @contact.errors[:name].first
  .float-label-input{ class: ('error' if @contact.errors.present? and @contact.errors[:email].present?) }
    = f.email_field :email, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
    = f.label :email, 'E-mail'
  - if @contact.errors.present? and @contact.errors[:email].present?
    .error-message= @contact.errors[:email].first
  .float-label-input{ class: ('error' if @contact.errors.present? and @contact.errors[:message].present?) }
    = f.text_area :message, onkeyup: "this.setAttribute('value', this.value);", rows: 5, autocomplete: 'off'
    = f.label :message, 'Mensagem'
  - if @contact.errors.present? and @contact.errors[:message].present?
    .error-message= @contact.errors[:message].first
  = f.action :submit, as: :button, label: 'Enviar', button_html: { onclick: "window.start_loading();" }
