@import "bourbon"

#active_admin_content
  // max-width: 992px
  // margin: 0 auto
  overflow: hidden

.has_many_container
  margin-bottom: 30px

.inputs
  .has_many_container
    margin-bottom: 0
  .inputs
    box-shadow: none
    border: 1px solid #838a90

.small-textarea
  max-height: 120px

.mce-tinymce.mce-container.mce-panel
  margin-top: 25px
.ui-sortable
  .mce-tinymce.mce-container.mce-panel
    margin-right: 30px

form fieldset ol li.boolean
  height: auto
  margin-bottom: 10px

.inputs.no-remove
  ol
    li:last-child
      .button.has_many_remove
        display: none

#index_table_static_pages
  .col-actions
    a
      margin-right: 6px

.index_as_block.index
  .artist:nth-child(even)
    background-color: #f4f4f4
  .artist
    height: 80px
    padding: 10px
    img
      max-height: 80px
    .actions
      a
        margin-right: 10px

.index_as_block .artist, .artist-header
  .left-image
    float: left
    margin-right: 30px
  .sub-title
    text-overflow: ellipsis
    p
      margin-bottom: 1em

.artist-products
  margin: 10px
  img
    max-height: 150px
  a
    margin-right: 10px
    display: inline-block

.artist-header
  overflow-y: auto
  display: block
  height: 250px
  margin: 10px
  img
    max-height: 250px

.attributes_table.product_variation_type, .attributes_table.product_variation_size
  img
    margin-right: 10px

.attributes_table.product_variation_size
  a
    margin-right: 10px

#index_table_products, #index_table_product_variations
  img
    max-width: 50px
    max-height: 50px

#page_title
  a
    color: inherit

.col
  a
    margin-right: 5px
  a:last-child
    margin-right: 0



.promotion_profile_inputs
  display: none
  &.shown
    display: block
