.floating-cart-header
  - if get_cart.total_items == 0
    Seu carrinho está vazio
  - else
    %span.total_items= "#{get_cart.total_items} ite#{get_cart.total_items != 1 ? 'ns' : 'm'}, "
    %span= get_cart.total_price_no_shipping.to_brazilian_currency
    %span (sem frete)
- if get_cart.total_items > 0
  .floating-cart-body
    - get_cart.cart_items.each do |ci|
      = render 'cart_items/floating_thumb', cart_item: ci
  .floating-cart-footer= link_to 'Finalizar Compra', get_cart
