$(document).ready(function() {
  $('.floating-cart').html("<%= j render('carts/floating') %>");
  $('.shopping-cart').find('.cart-items-counter').text("<%= get_cart.total_items %>")
  $('.floating-cart').show('fast');
});
