.col-xs-12.col-xs-offset-18
  .row
    .col-xs-15.total-title Subtotal
    .col-xs-15.total-value= @cart.total_price_no_shipping_no_discount.to_brazilian_currency
  .row
    .col-xs-15.total-title Frete
    .col-xs-15.total-value= @cart.shipping_price_in_cents.to_brazilian_currency
  .row
    .col-xs-15.total-title Desconto
    .col-xs-15.total-value
      = @cart.discount.to_brazilian_currency
  - if @cart.shipping_discount_in_cents > 0
    .row
      .col-xs-12.total-value{ style: 'width: 100%;' }
        .pull-right frete grátis (valor incluído no desconto)
  .row.total-final
    .col-xs-15.total-title Total
    .col-xs-15.total-value= @cart.total_price.to_brazilian_currency
