<% get_cart.update_promotions; check_promotions_for_cart get_cart %>

$(document).ready(function() {
  $('.my-cart').find('.my-cart-totals').html("<%= j render 'carts/show_actions' %>")
  <% if @cart.shipping_price_in_cents == 0 %>
    $('.shipping-services').hide('fast', function() {
      $(this).find('.shipping-method').remove();
    });
    $('input#zip_code').val('');
  <% end %>
});

<% unless action == :destroy %>
  <%= render 'carts/reload_and_show.js.erb' %>
<% end %>

$(document).ready(function() {
  $('.my-cart-title').find('h1').find('small').text("<%= get_cart.total_items %> ite<%= get_cart.total_items != 1 ? 'ns' : 'm' %>");

  <% if action == :update %>
    $('.my-cart').find(".cart-item[data-id='<%= params[:id] %>']").find('.cart-item-price-no-discount').find('.line-through').text("<%= @cart_item.total_price_no_discount.to_brazilian_currency %>")

    $('.my-cart').find(".cart-item[data-id='<%= params[:id] %>']").find('.cart-item-price').text("<%= @cart_item.total_price.to_brazilian_currency %>")
  <% end %>

  <% if action == :destroy %>
    // REMOVE ITEM FROM FLOATING CART WITH ANIMATION
    $('.floating-cart').find(".floating-cart-item-thumb[data-id='<%= params[:id] %>']").hide('fast', function() {
      $(this).remove();
    })

    // REMOVE ITEM FROM CART SHOW WITH ANIMATION
    $('.my-cart').find(".cart-item[data-id='<%= params[:id] %>']").slideUp('fast', function() {
      $(this).remove();
    });

    // IF NO ITEMS ON CART, HIDE AND RELOAD FLOAT CART WITH EMPTY TEXT
    <% if get_cart.total_items == 0 %>
      $('.floating-cart').hide('fast', function() {
        $('.floating-cart').html("<%= j render('carts/floating') %>")
      })
    <% end %>

    // SINCE NO RELOAD, SETUP CART TOTALS
    $('.shopping-cart').find('.cart-items-counter').text("<%= get_cart.total_items %>")
    $('.floating-cart').find('.floating-cart-header').find('.total_items').text("<%= get_cart.total_items %> item<% 's' if get_cart.total_items != 1 %>")
    $('.floating-cart').find('.floating-cart-header').find('.total_items').next().text("<%= get_cart.total_price.to_brazilian_currency %>")
  <% end %>
});

window.stop_loading();
