<% flash.each do |name, msg| %>
  <%= add_gritter msg, :class_name => "gritter-#{name}", title: I18n.t("gflash.titles.#{name}") %>
<% end %>

<% if @success %>
  window.location.href = "/carrinho/<%=@cart.id%>?click_buy=true"
<% end %>

<%= render 'carts/update_cart_page.js.erb', action: '' %>
