.container.my-cart
  = render 'outsiders/facebook_pixel_cart'
  .row.my-cart-title
    .col-xs-30
      %h1
        Meu carrinho
        %small= "#{@cart.total_items} ite#{get_cart.total_items != 1 ? 'ns' : 'm'}"

  .row.my-cart-items
    .col-xs-30
      - @cart.cart_items.each do |ci|
        .row.cart-item{ data: { :'edit-url' => cart_cart_item_path(current_cart, ci), id: ci.id } }
          .col-xs-8.col
            .text-center.item-photo
              = image_tag ci.photo, class: 'img-circle'
          .col-xs-18.col
            .vertical-aligned
              %h4
                = link_to ci.product_name, product_path(ci.product_id)
                %small
                  por
                  = link_to ci.artist_name, artist_path(ci.artist_id)
              .variation-values
                - ci.values_names.each_with_index do |v, i|
                  %p
                    - if i == 0
                      Em
                    = v
                %p= ci.size
              .row.amount-chooser
                .col-xs-10.col
                  .amount-changer.minus{ class: ('inactive' if ci.amount == 1) }= fa_icon 'minus'
                .col-xs-10.col
                  .amount-indicator= ci.amount
                .col-xs-10.col
                  .amount-changer.plus= fa_icon 'plus'
              = link_to cart_cart_item_path(get_cart, ci), method: :delete, remote: true, class: 'remove-cart-item', onclick: "window.start_loading();" do
                = fa_icon 'times 2x'
          .col-xs-4.col
            - if ci.discount_in_cents > 0 or ci.with_discount_from_coupon?
              .cart-item-price-no-discount
                %span.line-through= "de #{(ci.total_price_no_discount).to_brazilian_currency}"
                %span por
            .cart-item-price= ci.total_price_with_coupon.to_brazilian_currency
  .row.my-cart-totals
    = render 'carts/show_actions'
  .row.my-cart-actions
    .col-xs-15.col-xs-offset-15
      .row.basic-action
        .col-xs-15.promotion-code
          .float-label
            .float-label-input
              = text_field_tag :promotion_code, nil, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
              = label_tag :promotion_code, 'Cupom de Desconto'
              .submit-button Aplicar
        .col-xs-15.shipping-zip-code
          .row
            .col-xs-30
              .float-label
                .float-label-input
                  = text_field_tag :zip_code, nil, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
                  = label_tag :zip_code, 'CEP'
                  .submit-button Calcular Frete
          .row
            .col-xs-30
              .shipping-services
                .shipping-services-title
                  = fa_icon 'truck'
                  %span Formas de entrega
  .row.action-buttons.buy-row
    .col-xs-22.text-right
      .col-xs-15
      %p A Mesclado efetuará a troca do pedido caso seja solicitado pelo cliente.
    .col-xs-8
      .row
        .col-xs-30
          = link_to 'Compre Agora', '/transacoes/new', method: :post, class: 'checkout-button', onclick: "ga('send', 'event', 'Carrinho', 'Compre Agora', 'Compre Agora'); window.start_loading();", style: "padding: 20px 8px;"
      -# .row
      -#   .col-xs-30
      -#     = link_to 'Continuar comprando', root_path

#shipping-modal.modal.fade{ tabindex: '-1', role: 'dialog', :'aria-labelledby' => 'modal', :'aria-hidden' => 'true' }
  .modal-dialog.modal-md
    .close{ type: 'button', data: { dismiss: 'modal' } }
      %span{ :'aria-hidden' => 'true' } &times;
      %span.sr-only Close
    .modal-content
      .row
        .col-xs-30
          %h2 Calcular frete
          .shipping-zip-code
            .float-label
              .float-label-input
                = text_field_tag :zip_code, nil, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
                = label_tag :zip_code, 'CEP'
                .submit-button Calcular Frete

- if params[:no_shipping]
  :javascript
    $('#shipping-modal').modal('show');

- if params[:click_buy]
  :javascript
    $(document).ready(function() {
      window.start_loading();
      / $('.buy-row').find('.checkout-button').click();
    });
