.floating-cart-item-thumb{ data: { id: cart_item.id } }
  .row
    .col-xs-6
      = image_tag cart_item.photo, class: 'img-circle'
    .col-xs-21.text-center
      %p.name=link_to cart_item.product_name, product_path(cart_item.product_id)
      %p.artist
        por
        = link_to cart_item.artist_name, artist_path(cart_item.artist_id)
      %p.values
        %span= "em #{cart_item.values_names.join(' | ')} | "
        %span= "Tamanho #{cart_item.size}"
      %p.no-discount-price
        - if cart_item.discount_in_cents > 0 || cart_item.with_discount_from_coupon?
          %span.line-through= "de #{cart_item.unit_price_in_cents.to_brazilian_currency}"
          %span= "por"
        - else
          %span Preço unitário:
        %span= "#{cart_item.unit_price_with_coupon.to_brazilian_currency}"
      %p.price= "Quantidade: #{cart_item.amount}, Total: #{cart_item.total_price_with_coupon.to_brazilian_currency}"
    .col-xs-3.text-center
      = link_to cart_cart_item_path(cart_id: get_cart.id, id: cart_item.id), method: :delete, remote: true, class: 'remove-item-link' do
        = fa_icon 'trash-o', onclick: "window.start_loading();"

