<% if @cart.nil? %>
  window.stop_loading();
  <% flash.each do |name, msg| %>
    <%= add_gritter msg, :class_name => "gritter-#{name}", title: I18n.t("gflash.titles.#{name}") %>
  <% end %>
  <% if @no_size %>
    $('#variations-modal').modal('show');
  <% end %>
<% else %>
  <%= render 'carts/update_cart_page.js.erb', action: :create %>
  <% if @redirect_to_cart %>
    window.start_loading();
    window.location.href = "<%= cart_path(@cart) %>";
  <% end %>
<% end %>
