.row
  .col-xs-30
    %h2 Mudar minha senha
    = semantic_form_for @reset_user, url: '/users/password',  remote: true, html: { class: 'float-label', id: 'edit_user_password', autocomplete: 'off', method: :put } do |f|
      = f.hidden_field :reset_password_token
      .float-label-input
        = f.password_field :password, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
        = f.label :password, 'digite sua nova senha'
        = fa_icon 'lock'
      .show-password{ onclick: "elem = $(this).parents('form').find('#user_password'); if(elem.attr('type') == 'password') elem.attr('type', 'text'); else elem.attr('type', 'password');" }
        = fa_icon 'eye 2x', data: { toggle: 'tooltip', placement: 'top' }, title: 'Mostrar senha'
      = f.action :submit, as: :button, label: 'Mudar senha', button_html: { onclick: "window.start_loading();" }


/ %h2 Change your password
/ = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
/   = devise_error_messages!
/   = f.hidden_field :reset_password_token
/   %div
/     = f.label :password, "New password"
/     %br/
/     = f.password_field :password, autofocus: true, autocomplete: "off"
/   %div
/     = f.label :password_confirmation, "Confirm new password"
/     %br/
/     = f.password_field :password_confirmation, autocomplete: "off"
/   %div= f.submit "Change my password"
/ = render "users/shared/links"
