<% flash.each do |name, msg| %>
  <%= add_gritter msg, :class_name => "gritter-#{name}", title: I18n.t("gflash.titles.#{name}") %>
<% end %>

<% flash.clear %>

<% if @success %>
  $('#new_user_password').find('#user_email').parents('.float-label-input').removeClass('error')
  $('#modal').modal('hide')
<% else %>
  <% resource.errors.full_messages.each do |msg| %>
    <%= add_gritter msg, :class_name => "gritter-error", title: I18n.t("gflash.titles.error") %>
  <% end %>
  $('#new_user_password').find('#user_email').parents('.float-label-input').addClass('error')
<% end %>

window.stop_loading();
