.row
  .col-xs-30
    %h2 Esqueci minha senha
    = semantic_form_for resource, as: resource_name, url: password_path(resource_name), remote: true, html: { class: 'float-label', id: 'new_user_password', autocomplete: 'off' } do |f|
      .float-label-input
        = f.email_field :email, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
        = f.label :email, 'digite seu e-mail'
        = fa_icon 'envelope'
      = f.action :submit, as: :button, label: 'Enviar instruções', button_html: { onclick: "window.start_loading();" }
