// <% flash.each do |name, msg| %>
//  <%= add_gritter msg, :class_name => "gritter-#{name}", title: I18n.t("gflash.titles.#{name}") %>
// <% end %>

<% if resource.errors.empty? %>
  $('#edit_user_password').find('#user_password').parents('.float-label-input').removeClass('error')
  // $('#modal').modal('hide')
  window.location = "<%= after_resetting_password_path_for(resource) %>";
<% else %>
  window.stop_loading();
  <% resource.errors.full_messages.each do |msg| %>
    <%= add_gritter msg, :class_name => "gritter-error", title: I18n.t("gflash.titles.error") %>
  <% end %>
  $('#edit_user_password').find('#user_password').parents('.float-label-input').addClass('error')
<% end %>

