@import "bourbon"
@import "sass_variables"
@import "bootstrap/variables"
@import "bootstrap/mixins"

///////////////////////// GENERAL /////////////////////////

html, body
  width: 100%
  min-height: 100%
  overflow-x: hidden

.container-fluid
  min-width: $screen-md

h1.title
  background-color: black
  color: white
  text-transform: uppercase
  padding: 25px
  margin-top: 0
  @include transform(translateY(-50%) translateX(-50%))
  font-weight: bold
  font-size: 3.125em
  display: inline-block
  position: relative
  left: 50%
  margin-bottom: -10px

///////////////////////// FORMS /////////////////////////
form
  label
    font-weight: normal
  li
    list-style-type: none

input.error, .float-label-input.error > input, .float-label-input.error > textarea
  border: 1px solid #c1272d !important
  &:focus
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px #c1272d
    outline: 0 none

label.error, .float-label-input.error > label, .float-label-input.error > i
  color: #c1272d !important

.error-message
  color: #c1272d
  text-align: right
  margin-top: -15px
  margin-bottom: 15px

///////////////////////// TOP BANNER /////////////////////////
#header-carousel
  width: 100%
  max-height: 390px
  position: relative
  .item.cover
    width: 100%
    height: 100%

.owl-stage-outer, .owl-stage, .owl-item
  height: 100%
  width: 100%
.owl-controls
  margin-top: -70px
  .owl-dots
    position: absolute
    z-index: 1
    left: 50%
    @include transform(translateX(-50%))
    .owl-dot
      vertical-align: middle
      content: ""
      background-color: white
      width: 9px
      height: 9px
      margin: 4px
      border-radius: 100%
      display: inline-block
      opacity: 0.6
      &.active, &:hover
        opacity: 0.9
      // &.active
      //   zoom: 1.3

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span
  opacity: 0.5
  background-color: black

///////////////////////// NAVIGATION BAR - HEADER /////////////////////////
.navbar.navbar-default.navbar-fixed-top.scrolled
  background-color: rgba(0,0,0,0.8) !important
.navbar.navbar-default.navbar-fixed-top.black-bar
  background-color: rgba(0,0,0,1)
.navbar.navbar-default.navbar-fixed-top
  min-width: $screen-md
  margin: 0
  border: 0
  padding: 20px 0 0 0
  background-color: rgba(0,0,0,0)
  @include transition(all 0.3s ease)
  ul
    margin-bottom: 20px
    float: left
    li
      vertical-align: middle
      display: inline-block
      position: relative
      a
        text-transform: uppercase
        color: white
        padding: 10px 6px
      a:focus
        background: none
        border: 0
        outline: 0
    li:hover
      a
        background-color: transparent !important

    li > a:hover
      text-decoration: underline
  .brand
    position: absolute
    left: 50%
    @include transform(translateX(-50%))
    img
      max-height: 40px
  .search
    float: right
    position: relative
    margin-top: 3px
    margin-right: 15px
    height: 34px
    width: 136px
    padding: 7px
    cursor: pointer
    color: white
    font-size: 0.875em
    text-transform: uppercase
    border: 2px solid white
    background-color: transparent
    text-align: left
    i
      position: absolute
      right: 7px
      top: 7px
      font-size: 16px
    &:hover, &:focus
      border-color: #bfbfbf
      color: #bfbfbf
      outline: 0
  .nav-right
    float: right
  .shopping-cart
    padding: 0 6px
    position: relative
    color: white
    cursor: pointer
    .cart-items-counter
      position: absolute
      background-color: white
      color: black
      padding: 0px 5px
      left: 100%
      bottom: 100%
      margin-bottom: -5px
      font-size: 0.8125em
  .dropdown-menu
    border-radius: 2
    li
      padding: 0 10px
      a
        color: black
  .dropdown.open
    ul.dropdown-menu
      margin-top: -5px
    a
      background-color: transparent !important

.search-bar
  display: none
  background-color: #262626
  padding: 30px 0
  input
    background-color: transparent
    border: none
    font-size: 6.875em
    color: white
    width: 100%
    &:focus
      outline: 0
  .search-title-row
    p
      margin: 0
      padding: 0
    .search-title
      font-weight: bold
      color: white
      text-transform: uppercase
    .search-sub-title
      margin-bottom: 30px
      color: #999999
      font-style: italic
  &.small
    .search-title-row
      display: none
    input
      font-size: 2.5em


.search-results
  display: none
  background-color: white
  width: 100%
  height: 100vh
  position: fixed
  z-index: 1000
  overflow: hidden
  padding-top: 184px

.search-content
  padding-top: 30px
  overflow-y: auto
  height: 100%
  position: relative
  .close-search
    cursor: pointer
    @include transition(all 0.3s ease)
    color: #bfbfbf
    position: fixed
    right: 30px
    top: 212px
  .close-search:hover
    color: black

.no-results
  color: black
  font-size: 4em

ul.nav.nav-tabs
  border: none
  display: inline-block
  white-space: nowrap
  position: relative
  left: 50%
  @include transform(translateX(-50%))
  li
    margin-right: -2px
    a
      border: 1px solid #bfbfbf
      border-radius: 0
      width: 340px
      text-align: center
      text-transform: uppercase
      color: #bfbfbf
      font-size: 1.375em
  li.active
    a
      border-color: black
      color: white
      background-color: black

///////////////////////// FOOTER /////////////////////////
footer
  margin: 30px 0
  .footer-line
    margin: 0 -40px
  br
    border-color: #bfbfbf
  .footer-content
    text-align: justify
    &:after
      content:  ''
      display: inline-block
      width: 100%
  .col-footer
    display: inline-block
    position: relative
    vertical-align: text-top
  .footer-title
    text-transform: uppercase
    font-weight: bold
    font-size: 0.725em
    margin-bottom: 15px
  .footer-links
    a
      display: block
      color: #999999
      font-size: 0.775em
      margin-bottom: 3px
      i
        color: black
        font-size: 1.5em
        width: 15px
        text-align: center

///////////////////////// THUMBS /////////////////////////
.overlay-area
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  opacity: 0
  background-color: rgba(0, 0, 0, 0.7)
  @include transition (all 0.3s ease)
  &:hover
    opacity: 1
  a.borderless-button, a.black-button
    position: absolute
    text-transform: uppercase
    text-decoration: none
    top: 50%
    left: 50%
    @include transform(translateY(-50%) translateX(-50%))

.borderless-button
  color: white
  background-color: transparent
  border: 1px solid white
  padding: 15px
  @include transition (all 0.3s ease)
  &:hover
    color: black
    background-color: white

.black-button
  background-color: black
  color: white
  padding: 15px
  @include transition (all 0.3s ease)
  &:hover
    color: white

.thumb-details
  background-color: $gray-almost-black
  color: white
  width: 90%
  margin: 10px
  margin-left: 5%
  // width: 100%
  padding: 10px
  position: absolute
  display: block
  bottom: 10px
  &.details-top
    top: 0
    bottom: auto
  p
    margin: 0
    padding: 0
    max-width: 100%
  .product-name
    font-size: 0.8125em
    text-transform: uppercase
  .price, .price-no-discount
    font-size: 0.75em
  .price-no-discount
    text-decoration: line-through
  .artist-name
    font-size: 0.675em

.artist-thumb
  position: relative
  img
    @include filter(grayscale(100%))
    // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'https://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale")
    width: 100%
    height: 100%
  .overlay-area
    .likes
      @include transform(translateX(-50%))
      position: absolute
      top: 80%
      left: 50%
      color: white
      height: 30px
      img
        position: relative
      span
        position: relative
        top: 5px
        left: 10px

.product-thumb
  margin: 0 12.5px 0px 12.5px
  position: relative
  display: inline-block
  .product-thumb-image, img
    width: 100%
    height: 100%

///////////////////////// FLOAT LABEL /////////////////////////
.float-label-input
  position: relative
  input, textarea
    padding-left: 5px
    position: relative

.float-label-input > label
  position: absolute
  left: 12px
  top: 5px
  font-size: 0.875em
  @include transition (all 0.2s ease)
  pointer-events: none

.float-label-input > input:focus + label, textarea:focus + label, .float-label-input > input[value]:not([value=""]) + label, .float-label-input > textarea[value]:not([value=""]) + label
  position: absolute
  font-size: 0.675em
  top: -12px
  left: 7px
  padding: 5px 5px 0 5px

///////////////////////// NEWSLETTER /////////////////////////
#new_newsletter
  label
    background-color: white
    color: #999999
  .action
    margin-top: 10px
    text-align: right
  input[type="email"]
    height: 26px
    width: 100%
  button
    border: none
    background-color: #999999
    text-transform: uppercase
    color: white
    padding: 5px 20px
  button:hover
    background-color: #666666


///////////////////////// GRITTER /////////////////////////
#gritter-notice-wrapper
  position: fixed
  top: 50% !important
  left: 50%
  +transform(translateX(-50%) translateY(-50%))
  width: 500px !important
  .gritter-item
    border-width: 4px
    border-style: solid
    text-align: center
    .gritter-title
      font-size: 24px
      text-shadow: none
      font-family: $font-family-sans-serif
    p
      font-size: 18px
      text-shadow: none
      font-family: $font-family-sans-serif
  .hover
    .gritter-item
      padding-top: 12px !important
      padding-bottom: 16px !important

.gritter-error, .gritter-alert
  .gritter-item
    background-color: #c1272d !important
    border-color: darken(#c1272d, 30%)
    .gritter-title, p
      color: darken(#c1272d, 30%)
  &:hover
    .gritter-item
      border: 4px solid darken(#c1272d, 30%) !important

.gritter-success, .gritter-notice
  .gritter-item
    background-color: #22b573 !important
    border-color: darken(#22b573, 30%)
    .gritter-title, p
      color: darken(#22b573, 30%)
  &:hover
    .gritter-item
      border: 4px solid darken(#22b573, 30%) !important

.gritter-css3
  .gritter-close
    left: auto !important
    right: 3px !important

///////////////////////// HOME /////////////////////////
.home
  h2, p
    margin: 0
  h2
    font-size: 3.125em
    font-weight: bold
    text-transform: uppercase
  p
    font-size: 1.125em
  .products-organizer
    margin-left: -28px
    margin-top: 30px

.home-black-block
  background-color: black
  padding: 0 50px !important
  color: white
  h2
    margin-bottom: 60px
  p
    color: #b4b4b4
    margin-bottom: 20px
  a
    color: white
    text-decoration: none
    text-transform: uppercase
    font-weight: bold
    font-size: 0.875em
    i
      margin-right: 2px
  a:hover
    text-decoration: underline

.home-product-variations-row
  // height: ((2*(100vw / 3))/3) * $product-variation-thumb-proportion
  max-height: $max-product-variation-thumb-height
  min-height: ((2*($screen-md/ 3))/3) * $product-variation-thumb-proportion
  .products-tray
    background-color: black
    width: 100%
    .home-product-variation-thumb
      img
        width: auto
        height: 100%
      .borderless-button
        padding: 15px 25px
      .product-name
        font-size: 1em !important
      .artist-name
        font-size: 0.875em !important
  .carousel-control
    width: 7%
    background-color: transparent
    border: none
    z-index: 1
    i
      position: absolute
      top: 50%
      @include transform(translateY(-50%))
      z-index: 1
      font-size: 100px
    .fa-angle-right
      right: 10px
    .fa-angle-left
      left: 10px

.home-artists-row
  // height: ((2*(100vw / 3))/3) * $artist-thumb-proportion * 2
  min-height: ((2*($screen-md / 3))/3) * $artist-thumb-proportion * 2
  background-color: black
  .inner-artist-row
    height: 50%
    overflow: hidden
  .artist-thumb
    width: 100%
    height: 100%

.home-products
  h2
    margin-top: 30px
    margin-bottom: 15px

p.page-text
  max-width: 50%
  margin-left: auto
  margin-right: auto
  text-align: center
  font-size: 1.125em

///////////////////////// HOME SOCIAL FOOTER /////////////////////////
.social-footer
  background-color: black
  .col-xs-5:hover
    opacity: 0.6
  .grayscale
    position: relative
    display: block
    width: 100%
    height: 100%
    img
      @include filter(grayscale(100%))
      // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'https://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale")
      width: 100%
      height: 100%
  .social-title
    background-color: black
    text-transform: uppercase
    color: white
    padding: 20px
    span
      position: absolute
      margin-top: 10px
      padding: 0 40px
      font-size: 1.125em
      left: 50%
    span:first-child
      @include transform(translateX(-100%))

  .instagram-photos-row
    position: relative
    min-height: $screen-md * 1/6
    // height: 100vw * 1/6
  .col-xs-5
    height: 100%
  .social-square
    text-align: center
    color: white
    height: 100%
    width: 100%
    display: block
    padding: 10px
    p
      margin-top: 15px
      font-size: 1.375em
  .social-square:hover
    text-decoration: none
  .pinterest-square
    // background-color: #b12028
    background-color: #3F729B
  .facebook-square
    background-color: #3b5997

///////////////////////// STATIC PAGES /////////////////////////
.static_page_content
  font-size: 1.125em

///////////////////////// ARTIST /////////////////////////
.profile-picture
  display: inline-block
  position: relative
  width: 190px
  left: 50%
  @include transform(translateY(-80%) translateX(-50%))
  img
    width: 100%
    height: auto

.details-container
  margin-top: -150px
  position: relative
  z-index: 10

.artist-info-column
  @include transform(translateX(50%))
  &.text-left
    padding-top: 10px

.artist-title
  margin: 10px 0 5px 0
  text-transform: uppercase
  font-size: 2.5em
  color: black
  text-align: center
  display: inline-block
  position: relative
  // max-width: 250px
  font-weight: bold

.artist-info
  margin: 0
  font-size: 1em

.artist-details-button
  display: block
  margin-top: 5px
  color: black
  cursor: pointer
  position: absolute
  left: 50%
  @include transform(translateX(-50%))
  i
    font-size: 1.5em
  &.artist-more-details
    text-transform: uppercase
    font-weight: bold
    i
      margin-right: 10px
      vertical-align: bottom

.artist-fb-like
  margin: 35px 0 0 0

.artist-social-media
  a
    float: right
    color: gray
    margin-right: 20px
  a:hover
    color: black

.other-artists, .other-products
  margin-top: 45px
  hr
    margin-top: 0
    margin-bottom: 35px
  .other-artists-title, .other-products-title
    color: #bfbfbf
    background-color: white
    padding: 0 25px
    position: absolute
    @include transform(translateX(-50%) translateY(-50%))
    left: 50%
    text-transform: uppercase
    font-size: 1.325em

.other-artists
  height: 180px
  .artist-thumb
    width: 172px !important

.other-products
  height: 240px
  .product-thumb
    width: 217px !important
    img
      width: 100% !important
      height: 100% !important

.tab-pane#artists, .artists-index, .other-artists
  .artist-thumb
    width: 230px
    height: 100%
    margin: 0 6px
    display: inline-block
    // margin-bottom: 15px

.artists-index
  margin-top: 92px

.fb_edge_widget_with_comment span.fb_edge_comment_widget
  top: 15px !important
  left: -250px !important

///////////////////////// PRODUCT PAGINATION /////////////////////////

.items-pagination
  margin: 15px 0
  .page-button
    color: #bfbfbf
    border: 1px solid #bfbfbf
    width: 30px
    height: 30px
    text-align: center
    line-height: 30px
    display: inline-block
    @include transition(all 0.3s ease)
    cursor: pointer
    &.selected
      border-color: black
      background-color: black
      color: white
    &:hover
      border-color: black
      background-color: black
      color: white

.items-pagination-container
  z-index: 0
  margin-top: 45px
  overflow: hidden
  position: relative
  min-height: 861px
  .page-container
    // position: absolute
    // left: 50%
    // @include transform(translateX(-50%))
    width: 100%
    .products-row
      width: 803px
      height: 287px
      margin-bottom: 25px
      margin-left: auto
      margin-right: auto
    .artists-row
      height: 235px
      margin-bottom: 15px

///////////////////////// PRODUCTS INDEX /////////////////////////
.products-organizer
  margin-top: 110px
  position: relative

  .divider
    background-color: black
    width: 1px
    height: 24px
    display: inline-block
    position: absolute
    margin-left: -10px
    margin-top: 2px

  .organize-products
    position: relative
    display: inline-block
    margin: 0 35px 0 0
    .organizer-bt
      background-color: transparent
      border: none
      line-height: 28px
      position: relative
      padding-right: 10px
      cursor: pointer
      i
        position: absolute
        top: 2px
        left: 100%
        @include transition(all 0.3s ease)
    &.random
      a
        color: black !important
      i
        margin-left: 10px

  .organizer-popup
    background-color: black
    position: absolute
    padding: 15px
    z-index: 1
    width: 250px
    text-align: left
    right: 0
    margin-right: -72px
    margin-top: 5px
    display: none
    a
      font-size: 1.325em
      display: block
      color: white
      &:hover
        text-decoration: underline
    &:after
      content: ""
      position: absolute
      top: -12px
      left: 70%
      @include triangle(24px, black, up)

    .search-keywords
      position: relative
      width: 100%
      margin-bottom: 15px
      input
        width: 100%
        border: none
        padding: 5px
      i
        position: absolute
        right: 5px
        top: 7px
        color: black

    .possible-keywords
      max-height: 250px
      overflow-y: auto

  .random-products-link
    color: black
    position: relative
    i
      position: absolute
      font-size: 16px
      top: 2px
      left: 100%
      margin-left: 8px

///////////////////////// PRODUCT SHOW /////////////////////////
.product-show
  margin-top: 100px
  .same-height-columns
    min-height: 490px
    display: table
    [class*="col-"]
      height: 490px
      width: 490px
      float: none
      display: table-cell
      vertical-align: top
  img.product-photo
    position: absolute
    right: 10px
    bottom: 10px
    width: 80px
    cursor: pointer
    @include transition(all 0.3s ease)
    &.big
      width: 240px
  img.product-variation-photo
    width: 100%
    // height: 100%
    @include transition(all 0.5s ease)
    display: block
    &.out
      opacity: 0
      display: none !important
    &.absolute
      // position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
  .product-show-info
    position: relative
    padding-left: (100/30)*1%
    h1
      margin: 0
      font-weight: bold
      font-size: 3.125em
      text-transform: uppercase
    h3
      margin-top: 0
      font-size: 1.5em
      a
        color: black
    .discount-from
      margin: 0
      font-size: 1em
      font-weight: normal
      margin-top: 20px
      text-decoration: line-through
    .price
      font-weight: bold
      padding: 0
      span
        font-size: 2.375em
        padding: 2px 4px
      .white
        background-color: white
        border: 1px solid black
        color: black
      .black
        margin-left: -4px
        background-color: black
        border: 1px solid black
        color: white
  .bottom-area
    // position: absolute
    width: 92.33%
    bottom: 0
    right: 0

  .buy-button-row
    padding-bottom: 12px
    padding-top: 11px
    margin-top: 15px
    // text-align: right
    a
      @include transition(all 0.3s ease)
  .buy-button
    background-color: black
    color: white
    padding: 15px 20px
    font-size: 1.125em
    font-weight: bold
    text-transform: uppercase
    i
      margin-right: 15px
      font-size: 1.325em
  .favorite-button
    background-color: #bfbfbf
    color: white
    padding: 16px 15px 15px 15px
    margin-left: 10px
    i
      font-size: 1.325em
    &.yellow
      background-color: #f1c40f
    &:hover, &.yellow:hover
      background-color: black

  .variation-options
    .variation-line
      margin-top: 10px
      height: 63px
      .variation-title
        color: #6d6e70
        font-size: 0.925em
      .variation-values
        font-size: 0
        .value-icon
          display: inline-block
          margin-right: 10px
          cursor: pointer
          @include transition(all 0.3s ease)
          width: 41px
          height: 41px
          img
            width: 100%
          .not-selected-photo
            display: inline-block
          .selected-photo
            display: none
          &:hover
            box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, .75)
          &.selected
            width: 50px
            height: 50px
            cursor: default
            .not-selected-photo
              display: none
            .selected-photo
              display: inline-block
          &.selected:hover
            box-shadow: none
          .color-image
            border: 1px solid black
            width: 100%
            height: 100%
            display: inline-block
            vertical-align: middle
          &.inactive
            display: none

.container.product-details
  margin: 20px auto
  padding: 0 20px
  ul.nav.nav-tabs
    display: block
    border-bottom: 1px solid #999999
    margin-bottom: 10px
    @include transform(none)
    left: 0
    vertical-align: text-bottom
    li
      display: inline-block
      vertical-align: text-bottom
      a
        @include transition(all 0.3s ease)
        background: none
        border: none
        color: black
        opacity: 0.3
        display: inline-block
        width: auto
        padding: 5px 15px
        vertical-align: text-bottom
    li.active, li:hover
      a
        color: black
        opacity: 1
        background: none
        border: none
    li.active
      a
        font-weight: bold
        // zoom: 1.2

#product-metrics
  background-color: rgba(0, 0, 0, 0.7)
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: none
  z-index: 10000
  img
    position: absolute
    left: 50%
    margin-left: -500px
    top: 50%
    margin-top: -250px

.metrics-link
  color: black
  font-size: 0.775em
  &:hover
    color: black

///////////////////////// CONTACT /////////////////////////
#new_contact
  margin-top: 20px
  display: inline-block
  position: relative
  left: 50%
  @include transform(translateX(-50%))
  input, textarea
    width: 440px
    border: 1px solid #bfbfbf
    padding: 10px
    margin-bottom: 15px
  label
    color: #bfbfbf
    background-color: white
    font-size: 1.125em
    top: 10px
  textarea
    resize: none
  input:focus + label, textarea:focus + label, input[value]:not([value=""]) + label, textarea[value]:not([value=""]) + label
    font-size: 0.875em
    top: -13px
  textarea:focus + label, textarea[value]:not([value=""]) + label
    top: -13px
    left: 8px
  .action
    text-align: right
  button
    border: none
    background-color: black
    text-transform: uppercase
    color: white
    padding: 10px 20px
  button:hover
    background-color: #666666

///////////////////////// MODAL RELATED USER /////////////////////////
#new_user_session, #new_user_registration, #edit_user_registration, #new_user_password, #edit_user_password
  input[type="email"], input[type="password"], input[type="text"]
    width: 100%
    border: 1px solid black
    padding: 7px
    margin-bottom: 15px
    padding-left: 34px
  .float-label-input
    i
      text-align: center
      position: absolute
      left: 8px
      font-size: 22px
      top: 8px
      color: #999999
    label
      color: #999999
      font-size: 1.125em
      background-color: white
      top: 8px
      left: 34px
    input:focus + label, input[value]:not([value=""]) + label
      font-size: 0.875em
      top: -14px
      color: black
      left: 7px
  input#user_password
    padding-right: 42px
  button
    border: none
    background-color: black
    text-transform: uppercase
    color: white
    padding: 10px 50px
    display: block
    margin-left: auto
    margin-right: auto
  button:hover
    text-decoration: underline
  .show-password
    position: absolute
    right: 37px
    margin-top: -47px
    cursor: pointer
  li.boolean
    text-align: right
    margin-top: -10px
    margin-bottom: 10px
    label
      cursor: pointer
      background-color: white
    input#user_newsletter
      margin-right: 4px
      cursor: pointer

.forgot-password
  display: block
  text-align: center
  color: black
  font-size: 0.825em
  margin: 15px 0
  &:hover
    color: black

.facebook-login
  display: block
  width: 100%
  background-color: #3b5998
  padding: 10px
  margin-top: 55px
  color: white
  text-align: center
  font-size: 1.125em !important
  &:hover
    color: white
  i
    margin-right: 20px

#edit_user_password
  .show-password
    right: 7px

///////////////////////// MODAL /////////////////////////
#modal, #modal-lg, #reset_modal, #success_buy, #shipping-modal, #variations-modal
  .modal-dialog
    margin-top: 20vh
    .close
      position: absolute
      right: 10px
      top: 10px
      z-index: 1
      background-color: black
      border: none
      color: white
      font-size: 2em
      border-radius: 100%
      width: 30px
      height: 30px
      text-align: center
      line-height: 31px
      cursor: pointer
      @include transition(all 0.3s ease)
    .modal-content
      padding: 50px
      .col-xs-15
        padding: 0 30px
      .with-right-line
        position: relative
        &:after
          content: ""
          background-color: black
          width: 1px
          height: 100%
          left: 100%
          top: 0
          position: absolute
      .or-on-right-line
        position: relative
        &:before
          content: "ou"
          background-color: black
          color: white
          border-radius: 100%
          position: absolute
          top: 50%
          left: 100%
          @include transform(translateY(-50%) translateX(-50%))
          text-align: center
          width: 35px
          height: 35px
          line-height: 35px
      h2
        font-size: 1.8em
        margin-bottom: 15px


///////////////////////// FLOATING CART /////////////////////////
.floating-cart
  background-color: #f2f2f2
  position: absolute
  width: 350px
  padding: 5px
  top: 50px
  right: -20px
  z-index: 1
  display: none
  &:after
    content: ""
    @include triangle(14px, #f2f2f2, "up")
    position: absolute
    bottom: 100%
    right: 30px
  .floating-cart-header
    text-align: center
    font-weight: bold
    padding: 10px
    border-bottom: 1px solid #e6e6e6
  .floating-cart-body
    max-height: 200px
    overflow-y: auto
  .floating-cart-footer
    a
      margin-top: 5px
      padding-top: 10px
      display: block
      background-color: black
      padding: 10px
      color: white
      text-transform: uppercase
      font-size: 1.125em
      text-align: center
      font-weight: bold

.floating-cart-item-thumb, .transaction-cart-item
  border-bottom: 1px solid #e6e6e6
  padding: 10px
  img
    width: 100%
  p
    display: block
    text-align: left
    margin: 0
    margin-bottom: 2px
    padding: 0
    padding-left: 10px
    line-height: 14px
    color: #6d6e70
  p.name
    font-weight: bold
    text-transform: uppercase
  p.values, p.price, p.artist, p.no-discount-price
    font-size: 0.675em
  a
    color: #6d6e70
  a.remove-item-link
    font-size: 20px
    display: block
    margin-top: 18px
    @include transition(all 0.3s ease)
    &:hover
      color: black

///////////////////////// CART SHOW /////////////////////////
.my-cart
  margin-top: 100px
  color: #6d6e70
  .my-cart-title
    h1
      text-transform: uppercase
      font-weight: bold
      font-size: 1.125em
      small
        margin-left: 15px
        text-transform: none
        font-weight: none
        font-size: inherit
  .my-cart-items
    .row.cart-item
      padding-bottom: 10px
      border-bottom: 1px solid #e6e6e6
      margin-bottom: 10px
      height: 200px
      .col
        height: 100%
    .item-photo
      width: 100%
      height: 100%
      .img-circle
        margin: 20px
        max-width: 80%
        max-height: 80%
    h4, h4 > a, small > a
      color: #6d6e70
      margin: 0
      text-transform: uppercase
      font-size: 1.2em
      font-weight: bold
      small, small > a
        text-transform: none
        font-weight: normal
        font-size: 1em
    h4
      margin-bottom: 20px
    .variation-values
      p
        margin: 0
        font-style: italic
        font-size: 0.875em
    .amount-chooser
      margin-top: 19px
      height: 30px
      width: 90px
      color: white
      background-color: black
      .amount-changer, .amount-indicator
        text-align: center
        height: 100%
        line-height: 30px
      .amount-changer
        cursor: pointer
        @include transition(all 0.3s ease)
        &.inactive
          background-color: rgba(255, 255, 255, 0.5)
          cursor: default
      .amount-indicator
        border: 1px solid black
        color: black
        background-color: white
        @include user-select(none)
        cursor: default
    .remove-cart-item
      position: absolute
      top: 0
      right: 50px
      color: #c8c8c8
      @include transition(all 0.3s ease)
      &:hover
        color: black
  .cart-item-price
    color: black
    font-weight: bold
    position: absolute
    font-size: 1.5em
    bottom: 20px
  .cart-item-price-no-discount
    color: black
    position: absolute
    font-size: 1.1em
    bottom: 50px
  .my-cart-totals
    margin-bottom: 20px
    color: #c8c8c8
    text-transform: uppercase
    font-size: 1.5em
    font-weight: bold
    .total-title
      text-align: left
    .total-value
      text-align: right
      .pull-right
        font-size: 14px
        color: red
        text-transform: none
    .total-final
      color: black
      .total-title
        margin-top: 15px
      .total-value
        font-size: 1.75em

.my-cart-actions, #shipping-modal
  .float-label
    padding: 10px
    width: 100%
    color: black
    input
      border-color: black
      border-width: 1px
      width: 100%
      padding: 7px
    label
      top: 10px
      font-weight: normal
      background-color: white
      text-transform: uppercase
    input:focus + label, input[value]:not([value=""]) + label
      top: -12px
    input[value]:not([value=""]) + label + .submit-button
      opacity: 1
      cursor: pointer
      &:hover
        background-color: black
        color: white
    .submit-button
      text-align: center
      cursor: default
      opacity: 0.2
      border: 1px solid black
      background-color: white
      color: black
      text-transform: uppercase
      @include transition(all 0.3s ease)
      font-size: 0.875em
      padding: 8px
      margin-top: 10px
  .shipping-services
    padding-left: 10px
    display: none
    .shipping-services-title
      margin: 10px 0
      color: black
      text-transform: uppercase
      i
        font-size: 1.125em
    .shipping-method
      color: black
      font-size: 1em
      label
        font-weight: normal
      input
        margin-right: 10px
      span
        margin-left: 5px
        font-weight: bold

.my-cart
  .action-buttons
    padding: 10px 0
    a
      display: block
      background-color: black
      color: white
      text-align: center
      text-transform: uppercase
      padding: 8px
      margin-bottom: 10px
      font-size: 0.875em
    .checkout-button
      font-size: 1.2em
  p
    font-size: 12px
    margin: 25px 20px 0 0

///////////////////////// ABOUT /////////////////////////
.testimonials-area
  margin-top: 50px
  position: relative
  height: 100px
  #testimonials
    .testimonial
      .test-title
        font-size: 2.2em
        font-weight: bold
        margin-bottom: 5px
        max-width: 80%
        margin-left: auto
        margin-right: auto
        padding-left: 20px
      .test-author, .test-from
        color: #808080
  .carousel-control
    background: none
    border: none
    color: black
    font-size: 6em
    height: 100%
    z-index: 1
    i
      position: absolute
      top: 50%
      margin-top: -42px

.strips-area
  width: 100%
  margin-top: 50px
  .strip
    width: 100%
    .row
      width: 100%
      height: 100%
      min-height: 490px
      overflow: hidden
      .col-xs-15
        height: 100%
    .item.cover
      width: 100%
      height: 100%
    .strip-content
      text-align: center
      padding: 40px
      font-size: 1.1em
      h3
        font-size: 2.5em
        font-weight: bold
        margin-top: 0
        margin-bottom: 25px
    &.inverted
      .strip-content
        background-color: black
        color: white

.about-footer, .faq-footer
  margin-top: 40px
  a
    text-transform: uppercase
    @include transition(all 0.3s ease)
    border: 1px solid black
    color: black
    font-size: 1.5em
    padding: 20px 30px
  a:hover
    background-color: black
    color: white
    text-decoration: none

///////////////////////// FAQ /////////////////////////
.accordion
  a
    display: block
    background-color: black
    color: white
    padding: 10px 35px 10px 15px
    font-size: 1.3em
    font-weight: bold
    margin-top: 20px
    position: relative
    *
      margin: 0
    &:after
      content: ""
      @include triangle(24px, white, up)
      position: absolute
      top: 17px
      right: 15px
      @include transition(all 0.3s ease)
    &.collapsed:after
      @include transform(rotate(180deg))
  .answer
    margin: 20px 40px
    margin-bottom: 0

///////////////////////// MY ACCOUNT /////////////////////////
.account-header
  margin-top: 100px
  h3
    font-size: 1.125em
    text-transform: uppercase
    margin-bottom: 20px
  ul.nav.nav-tabs
    li
      a
        width: 326px
        i
          margin-right: 20px

#edit_user_registration
  margin-top: 50px
  .col-xs-15
    padding: 20px
    h2
      font-size: 1.5em
      text-transform: uppercase
      margin: 0 0 20px 0
  fieldset
    legend
      display: none
    ol
      padding: 0

.no-favorites, .no-transactions
  p
    margin: 30px 0
    font-size: 1.3em

.transactions-table
  margin-top: 30px
  text-align: center
  .title-area
    .transaction-table-title
      text-transform: uppercase
      font-size: 1.2em
  .title-area, .content-area
    position: relative
    border-bottom: 1px solid #c8c8c8
  .content-area
    height: 100px
    cursor: pointer
    .row
      height: 100%
    .col-xs-15
      height: 100%
    .transaction-table-content
      text-transform: uppercase
      font-weight: bold
      font-size: 1.5em
      color: #6d6e70
      p
        margin: 0
      a
        font-size: 1em !important
  .transactions-accordion
    a.transactions-row
      display: block
      &:not(.collapsed), &:hover
        background-color: #f2f2f2
  .track
    position: absolute
    margin-top: -35px
    margin-left: 804px
    font-size: 0.875em
    color: black

.transaction-cart-item
  padding: 30px 30px 0 30px
  border: none
  .col-xs-20
    border-bottom: 1px solid #c8c8c8
    padding-bottom: 30px
  p
    font-size: 1em !important
    padding: 5px
  p.name
    margin-top: 9%
    font-size: 1.5em !important
  p.artist
    font-size: 1.2em !important

.padding-50
  padding: 0 50px

.transaction-total-areas
  .total-title, .total-value
    color: #999999
    text-transform: uppercase
    padding: 5px
    font-size: 1.4em
  .total-title
    font-weight: bold
  .total-final
    .total-title, .total-value
      color: black



///////////////////////// SUCCESS BUY /////////////////////////
#success_buy
  .modal-content
    i
      color: #009245
    h1
      font-weight: bold
      margin-top: 15px
      margin-bottom: 25px
      font-size: 2.5em
    p
      margin: 0
      margin-bottom: 25px
    a
      background-color: black
      color: white
      padding: 10px 25px
      text-transform: uppercase

///////////////////////// LOADING /////////////////////////
#loading-overlay
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(255, 255, 255, 0.7)
  z-index: 50000000
  display: none
  img
    position: absolute
    top: 50%
    left: 50%
    margin-left: -40px
    margin-top: -80px

///////////////////////// HELPERS /////////////////////////
.cover
  background-position: center, center
  background-repeat: no-repeat
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.vertical-aligned
  top: 50%
  @include transform(translateY(-50%))
  position: relative
  max-width: 100%
  max-height: 100%

.full-height
  height: 100%

.display-none
  display: none

.line-through
  text-decoration: line-through

.more-items-link, .see-all-link > a
  background-color: black
  display: block
  padding: 30px 100px
  text-transform: uppercase
  color: white
  font-size: 1.5em
  font-weight: bold
  margin: 40px
  border: none
  &:hover
    text-decoration: underline
    color: white

.more-items-link, .see-all-link
  display: none

.see-all-link > a
  display: inline-block

.small-loading
  padding: 30px


#pos-list
  margin-top: 80px
  padding: 0
  list-style-type: none
  li
    margin: 10px
    list-style-type: none
    h2
      font-weight: bold
      font-size: 28px
    .address
      font-size: 18px

.checkout-transparente
  margin: 100px auto 0

.checkout-step
  float: left
  width: 50%

.formCheckout
  width: 100%
  margin: 0 auto
  max-width: 980px
  padding: 20px 0
  float:left
  text-align: center

.paymentArea
  float: left
  width: 100%
  

.labelCheckout
  display: block
  clear: both

.formCheckout
  .inputFields
    border: 1px solid #ccc
    padding: 10px
    width: 100%
    border-radius: 5px
    float: left
    margin: 0 0 15px 0
    background: #fff
    height: 42px
  .right
    float: right !important

.campo-dividido
  float: left
  width: 140px


.campo-ddd
  width: 90px

.campo-telefone
  width: 190px

.metade
  max-width: 33%
  padding: 0 15px
  display: inline-block
  h3
    width: 100%
    margin: 0 0 20px
    font-size: 18px

.label_checkout
  display: block
  text-align: left
  float: left

.selectFieldsCheckout
  width: 49%

.selectCheckout

.btnCheckout
  padding: 20px
  border-radius: 10px
  text-align: center
  border: none
  font-weight: bold
  width: 100%
  &.enviar
    background: #61B95C
    font-size: 18px
    color: #fff
    &:hover
      background: #8bf484
  &.confirmar
    float: left
    background: #999999
    font-size: 18px
    color: #fff
    cursor: pointer
    &:hover
      background: #666666

.pagina-obrigado
  margin-top: 100px

.ver_boleto
  background: green
  color: #fff
  display: inline-block
  font-size: 20px
  margin: 10px 0
  padding: 20px 40px

.escolha-pagamento
  width: 100%
  float: left
  text-align: center
  margin: 0 0 10px
  .tipo-pagamento
    display: inline-block
    border: 1px solid #ccc
    border-radius: 5px
    margin: 0 0 5px 10px
    padding: 10px
    cursor: pointer
    &:hover
      background: #ccc
  .tipo-pagamento-selecionado
    background: #ccc !important
    &:hover
      background: #transparent !important

#checkout_cvv_box
  display: none

#payment_area_cartao_parcelamento
  display: none
