= render 'users/account_header', selected: :transactions

- if @carts.empty?
  .container.text-center.no-transactions
    %p Você não possui nenhum pedido pago.
- else
  .container.transactions-table
    .row.title-area
      .col-xs-15
        .row
          .col-xs-15.transaction-table-title Data
          .col-xs-15.transaction-table-title Código do Pedido
      .col-xs-15
        .row
          .col-xs-15.transaction-table-title Quantidade
          .col-xs-15.transaction-table-title Status
    - @carts.each_with_index do |c, i|
      - transaction = c.transactions.last
      .transactions-accordion{ id: "transactions-accordion#{i}" }
        = link_to "#collapse#{i}", data: { toggle: 'collapse', parent: "#transactions-accordion#{i}" }, class: 'collapsed transactions-row' do
          .row.content-area
            .col-xs-15
              .row
                .col-xs-15.transaction-table-content.date-info
                  .vertical-aligned
                    %p= c.payment_date.strftime("%d/%m/%Y")
                    %p= c.payment_date.strftime("%H:%M")
                .col-xs-15.transaction-table-content.reference-info
                  .vertical-aligned= transaction.pagseguro_transaction_reference
            .col-xs-15
              .row
                .col-xs-15.transaction-table-content.items-info
                  .vertical-aligned= c.total_items
                .col-xs-15.transaction-table-content.status-info
                  .vertical-aligned= transaction.status_translation
        - if c.tracking_code.present?
          .track= link_to 'Acompanhar Pedido', "http://websro.correios.com.br/sro_bin/txect01$.QueryList?P_LINGUA=001&P_TIPO=001&P_COD_UNI=#{c.tracking_code}"
        .collapse.transaction{ id: "collapse#{i}" }
          - c.cart_items.each do |ci|
            .row.transaction-cart-item
              .col-xs-20.col-xs-offset-5
                .row
                  .col-xs-8.text-center= image_tag ci.photo, class: 'img-circle'
                  .col-xs-16.col-xs-offset-6.text-center
                    %p.name= ci.product_name
                    %p.artist= "por #{ci.artist_name}"
                    %p.values
                      %span= "em #{ci.values_names.join(' | ')} | "
                      %span= "Tamanho #{ci.size}"
                    %p.no-discount-price
                      - if ci.discount_in_cents > 0 || ci.with_discount_from_coupon?
                        %span.line-through= "de #{ci.unit_price_in_cents.to_brazilian_currency}"
                        %span= "por"
                      - else
                        %span Preço unitário:
                      %span= "#{ci.unit_price_with_coupon.to_brazilian_currency}"
                    %p.price= "Quantidade: #{ci.amount}, Total: #{ci.total_price_with_coupon.to_brazilian_currency}"
          .row.transaction-total-areas
            .col-xs-20.col-xs-offset-5.padding-50
              .row
                .col-xs-15.text-left.total-title Subtotal
                .col-xs-15.text-right.total-value= c.total_price_no_shipping_no_discount.to_brazilian_currency
              .row
                .col-xs-15.text-left.total-title Frete
                .col-xs-15.text-right.total-value= c.shipping_price_in_cents.to_brazilian_currency
              .row
                .col-xs-15.text-left.total-title Desconto
                .col-xs-15.text-right.total-value= c.discount.to_brazilian_currency
              .row.total-final
                .col-xs-15.text-left.total-title Total
                .col-xs-15.text-right.total-value= c.total_price.to_brazilian_currency

