
<div class="container checkout-transparente">
<%= render 'outsiders/facebook_pixel_checkout' %>
	<div class="row">

		<%= form_for @endereco, url: {action: "create"}, :method => :POST, html: {class: "formCheckout", id: "formulario-pagseguro", :"data-carrinho-id" => @cart_id } do |f| %>
			<%= hidden_field_tag 'checkout_session_id', @session_id %>
			<%= hidden_field_tag 'checkout_valor_total', @total_price %>
			<%= hidden_field_tag 'checkout_sender_hash' %>
			<%= hidden_field_tag 'checkout_card_bandeira' %>
			<%= hidden_field_tag 'checkout_card_token' %>

			<div class="metade">
				<h3>Endereço de Entrega</h3>

				<div id="payment_area_endereco" class="paymentArea">
					<%= f.label(:zip_code, 'Cep *', class: "label_checkout") %>
					<%= f.text_field(:zip_code, required: 'true', class: 'inputFields', placeholder: "Somente números") %>

					<%= f.label(:street, 'Logradouro *', class: "label_checkout") %>
					<%= f.text_field(:street, required: 'true', class: 'inputFields', placeholder: "Ex: Avenida Brasil") %>

					<%= f.label(:street_number, 'Número *', class: "label_checkout") %>
					<%= f.text_field(:street_number, required: 'true', class: 'inputFields', placeholder: "Ex: 1234") %>

					<%= f.label(:complement, 'Complemento', class: "label_checkout") %>
					<%= f.text_field(:complement, class: 'inputFields', placeholder: "Ex: Casa 10") %>

					<%= f.label(:neighborhood, 'Bairro *', class: "label_checkout") %>
					<%= f.text_field(:neighborhood, required: 'true', class: 'inputFields', placeholder: "Ex: Centro") %>

					<%= f.label(:city, 'Cidade *', class: "label_checkout") %>
					<%= f.text_field(:city, required: 'true', class: 'inputFields', placeholder: "Ex: Rio de Janeiro") %>

					<%= f.label(:state, 'Estado *', class: "label_checkout") %>
					<%= f.select :state, [ ['Acre','AC'],['Alagoas','AL'],['Amapá','AP'],['Amazonas','AM'],['Bahia','BA'],['Ceará','CE'],['Distrito Federal','DF'],['Espírito Santo','ES'],['Goiás','GO'],['Maranhão','MA'],['Mato Grosso','MT'],['Mato Grosso do Sul','MS'],['Minas Gerais','MG'],['Pará','PA'],['Paraíba','PB'],['Paraná','PR'],['Pernambuco','PE'],['Piauí','PI'],['Rio de Janeiro','RJ'],['Rio Grande do Norte','RN'],['Rio Grande do Sul','RS'],['Rondônia','RO'],['Roraima','RR'],['Santa Catarina','SC'],['São Paulo','SP'],['Sergipe','SE'],['Tocantins','TO'] ],{:prompt => 'Estado *'}, {required: 'true', class: 'inputFields selectCheckout'} %>
				</div>
			</div>

			<div class="metade metade-central">
				<h3>Dados Pessoais do Comprador</h3>

				<div id="payment_area_comprador" class="paymentArea">
					<label class="label_checkout">Nome Completo *</label>
					<input required type="text" class="inputFields " autocomplete="off" name="checkout_name" id="checkout_name" placeholder="Ex: Fulano de Tal">

					<label class="label_checkout">E-mail *</label>
					<input required type="text" class="inputFields" autocomplete="off" name="checkout_email" id="checkout_email" placeholder="Ex: email@email.com">
					
					<label class="label_checkout">Data de Nascimento *</label>
					<input required type="text" class="inputFields" autocomplete="off" name="checkout_nascimento" id="checkout_nascimento" placeholder="Ex: XX/XX/XXXX">

					<label class="label_checkout">CPF do Comprador *</label>
					<input required type="text" class="inputFields" autocomplete="off" name="checkout_cpf" id="checkout_cpf" placeholder="Somente números">

					<div class="campo-dividido campo-ddd">
						<label class="label_checkout">DDD *</label>
						<input required type="text" class="inputFields" autocomplete="off" maxlength="2" name="checkout_ddd" id="checkout_ddd" placeholder="XX">
					</div>
					
					<div class="campo-dividido campo-telefone right">
						<label class="label_checkout">Telefone *</label>
						<input required type="text" class="inputFields" maxlength="9" autocomplete="off" name="checkout_telefone" id="checkout_telefone" placeholder="XXXXXXXXX">
					</div>
				</div>
			</div>

			<div class="metade">
				<h3>Pagamento</h3>

				<div class="escolha-pagamento">

					<label class="label_checkout">Escolha uma Forma de Pagamento</label>
					<div id="tipo-cc" class="tipo-pagamento tipo-pagamento-selecionado">Cartão de Crédito</div>
					<div id="tipo-boleto" class="tipo-pagamento">Boleto</div>

					<%= hidden_field_tag 'checkout_tipo_pagamento', 'tipo-cc' %>

				</div>


				<div id="payment_area_cartao" class="paymentArea">

					<label class="label_checkout">Nome como no cartão *</label>
					<input required type="text" class="inputFields " name="checkout_card_name" id="checkout_card_name" placeholder="EX: FULANO SOUZA" autocomplete="off">

					<label class="label_checkout">Número do cartão *</label>
					<input required type="text" class="inputFields " name="checkout_card_number" id="checkout_card_number" placeholder="Somente Números" autocomplete="off">

					<div class="campo-dividido">
						<label class="label_checkout">Mês de Validade *</label>
						<select class="inputFields selectCheckout " autocomplete="off" name="checkout_card_month" id='checkout_card_month' required >
		                   <option value="01">Jan (01)</option>
		                   <option value="02">Fev (02)</option>
		                   <option value="03">Mar (03)</option>
		                   <option value="04">Abr (04)</option>
		                   <option value="05">Mai (05)</option>
		                   <option value="06">Jun (06)</option>
		                   <option value="07">Jul (07)</option>
		                   <option value="08">Ago (08)</option>
		                   <option value="09">Set (09)</option>
		                   <option value="10">Out (10)</option>
		                   <option value="11">Nov (11)</option>
		                   <option value="12">Dez (12)</option>
		                </select>
					</div>

					<div class="campo-dividido right">
						<label class="label_checkout">Ano de Validade *</label>
						<select class="inputFields selectCheckout" autocomplete="off" name="checkout_card_year" id='checkout_card_year' required>
		                   <option value="2016">2016</option>
		                   <option value="2017">2017</option>
		                   <option value="2018">2018</option>
		                   <option value="2019">2019</option>
		                   <option value="2010">2020</option>
		                   <option value="2021">2021</option>
		                   <option value="2022">2022</option>
		                   <option value="2023">2023</option>
		                   <option value="2024">2024</option>
		                   <option value="2025">2025</option>
		                   <option value="2026">2026</option>
		                   <option value="2027">2027</option>
		                   <option value="2028">2028</option>
		                   <option value="2029">2029</option>
		                   <option value="2030">2030</option>
		                 </select>
					</div>


					<div id="checkout_cvv_box">
						<label class="label_checkout">Código de segurança (CVV) *</label>
						<input type="text" class="inputFields" name="checkout_cvv" id="checkout_cvv" placeholder="" autocomplete="off">
					</div>

					<div id="payment_area_cartao_parcelamento" class="paymentArea">
						<label class="label_checkout">Número de Parcelas *</label>
						<select class="inputFields selectCheckout" autocomplete="off" name="checkout_card_parcelas" id="checkout_card_parcelas">
							<option value="--">Informe o número do cartão para ver as parcelas</option>
						</select>
					</div>

				</div>


				<div onclick="return checagem();" class="btnCheckout confirmar cartao-validar" id="checkout_confirmar">Confirmar Dados</div>

			</div>

		<% end %>

	</div>

</div>

<script type="text/javascript">
$(document).ready(function() {

	// Inicia o Pagseguro enviando o pagseguro_session_id
	PagSeguroDirectPayment.setSessionId($('#checkout_session_id').val());

	//MASCARA
	$("#checkout_nascimento").mask("99/99/9999",{placeholder:"XX/XX/XXXX"});
	$("#checkout_cpf").mask("99999999999",{placeholder:"XXX.XXX.XXX-XX"});
	// $("#checkout_ddd").mask("99",{placeholder:"XX"});


	// Verifica se existe um cartão preenchido
  	card_flag();


  	// Escolha o Tipo de pagamento
	$(document).on('click', '.tipo-pagamento', function(e){
		  var pagamento_id = $(this).attr('id');
		  
		  $('.tipo-pagamento').removeClass('tipo-pagamento-selecionado');

		  $(this).addClass('tipo-pagamento-selecionado');


		  $('#checkout_tipo_pagamento').val(pagamento_id);


		  if (pagamento_id != 'tipo-cc') {
		  	$('#payment_area_cartao').css('display', 'none');

		  	$('#payment_area_cartao').find('input').attr('disabled',true);
		  	$('#payment_area_cartao').find('select').attr('disabled',true);
		  	$('#checkout_confirmar').removeClass('cartao-validar');

		  }else{
		  	$('#payment_area_cartao').css('display', 'block');
		  	$('#payment_area_cartao').find('input').attr('disabled',false);
		  	$('#payment_area_cartao').find('select').attr('disabled',false);
		  	$('#checkout_confirmar').addClass('cartao-validar');
		  }

	});


});


function card_flag()
{

	var checkout_card_number = $("#checkout_card_number").val();

	checkout_card_number = checkout_card_number.replace(/[^0-9\.]/g,'');

	console.log(checkout_card_number);

	PagSeguroDirectPayment.getBrand({
		cardBin: checkout_card_number,
		success: function (response) {
				console.log(response);


				// Mostra o campo CVV se exigido e mostra como deve ser inserido os numeros
				if( response.brand.cvvSize > 0 ){

					// Define Formato
					$('#checkout_cvv').attr({
						"placeholder": 'Código de segurança * ( '+response.brand.cvvSize+' Digitos )',
						"maxlength": response.brand.cvvSize
					});

					// Mostra o campo
					$('#checkout_cvv_box').css('display', 'block');

				}


				// Define a bandeira do cartão no campo hidden
				$('#checkout_card_bandeira').val(response.brand.name);


				// Mostra as opções de parcelamento passando: (BANDEIRA, PREÇO)
				showPaymentOptions(response.brand.name, $('input[name="checkout_valor_total"]').val());
				$("#payment_area_cartao_parcelamento").css('display', 'block');


				// Esconde o primeiro botão
				$( "#checkout_confirmar" ).css('display', 'none');

				// Remove botão de submit caso exista
				$("#checkout_enviar").remove();

				// Libera o botão de submit
				$( "#checkout_confirmar" ).after( '<input type="submit" data-wait="Processando..." id="checkout_enviar" class="btnCheckout enviar right" id="checkout_enviar" name="checkout_enviar" value="Pagar">' );

			
		},
		error: function (response) {
			console.log('erro getBrand');
			console.log(checkout_card_number);
			console.log(response);
			$("#checkout_cvv_box").css('display', 'none');
			$("#payment_area_cartao_parcelamento").css('display', 'none');
			return false;
		}
	});
}




// Função para mostrar opções de pagamento para o usuário
function showPaymentOptions(flag, price)
{
	PagSeguroDirectPayment.getInstallments({
		amount: price,
		brand: flag,
		success: function (response) {
			
			var selectbox = $('#checkout_card_parcelas');

	        selectbox.find('option').remove();

	        
            $.each(response.installments[flag], function (index, value) {
                selectbox.append($('<option></option>').val(value['quantity']).text("R$"+value['installmentAmount']+" x "+value['quantity']+" - Total: R$"+value['totalAmount']));
            });

		},
		error: function (response) {
			console.log('erro getInstallments');
			console.log(response);
		},
		complete: function (response) {
			//tratamento comum para todas chamadas
		}
	});
}


function checagem(){
	$( "#checkout_confirmar" ).val('Aguarde...');

	if ( $('#checkout_confirmar').hasClass('cartao-validar') ) {

		if( card_flag() == false ){
			alert('Verifique os dados digitados.')
			$( "#checkout_confirmar" ).val('Confirmar Dados');
		}

	}else{

		// Esconde o primeiro botão
		$( "#checkout_confirmar" ).css('display', 'none');

		// Remove botão de submit caso exista
		$("#checkout_enviar").remove();

		// Libera o botão de submit
		$( "#checkout_confirmar" ).after( '<input type="submit" data-wait="Processando..." id="checkout_enviar" class="btnCheckout enviar right" id="checkout_enviar" name="checkout_enviar" value="Pagar">' );

	}
}


$(document).on('click', '#checkout_enviar', function(event) {
	event.preventDefault();


	$('#checkout_enviar').val('Processando...');

	$('#checkout_sender_hash').val(PagSeguroDirectPayment.getSenderHash());


		var checkout_name_val = $('#checkout_name');
		var checkout_email_val = $('#checkout_email');
		var checkout_nascimento_val = $('#checkout_nascimento');
		var checkout_cpf_val = $('#checkout_cpf');
		var checkout_ddd_val = $('#checkout_ddd');
		var checkout_telefone_val = $('#checkout_telefone');
		


		$('#address_zip_code').val($('#address_zip_code').val().replace(/[^0-9]/g,''));

		// Retira o que não for número do telefone
		checkout_telefone_val.val(checkout_telefone_val.val().replace(/[^0-9]/g,''));




		if (checkout_name_val.val() == '') {
			checkout_name_val.focus();
			$('#checkout_enviar').val('Pagar');
			return false;
			
		}

		if (checkout_email_val.val() == '') {
			checkout_email_val.focus();
			$('#checkout_enviar').val('Pagar');
			return false;
			
		}

		if (checkout_nascimento_val.val() == '') {
			checkout_nascimento_val.focus();
			$('#checkout_enviar').val('Pagar');
			return false;
			
		}

		if (checkout_cpf_val.val() == '' || checkout_cpf_val.val() == 'XXX.XXX.XXX') {
			checkout_cpf_val.focus();
			$('#checkout_enviar').val('Pagar');
			return false;
			
		}

		if (checkout_ddd_val.val() == '' || checkout_ddd_val.val() == 'XX') {
			checkout_ddd_val.focus();
			$('#checkout_enviar').val('Pagar');
			return false;
			
		}

		if (checkout_telefone_val.val() == '') {
			checkout_telefone_val.focus();
			$('#checkout_enviar').val('Pagar');
			return false;
			
		}

		




	if ( $('#checkout_confirmar').hasClass('cartao-validar') ) {

		var checkout_card_name_val = $('#checkout_card_name');
		var checkout_card_number_val = $('#checkout_card_number');
		var checkout_cvv_val = $('#checkout_cvv');
		var checkout_card_month_val = $('#checkout_card_month');
		var checkout_card_year_val = $('#checkout_card_year');
		var checkout_card_parcelas_val = $('#checkout_card_parcelas');


		if (checkout_card_name_val.val() == '') {
			checkout_card_name_val.focus();
			$('#checkout_enviar').val('Pagar');
			return false;
			
		}

		if (checkout_card_number_val.val() == '') {
			checkout_card_number_val.focus();
			$('#checkout_enviar').val('Pagar');
			return false;
			
		}

		if (checkout_card_month_val.val() == '' || checkout_card_month_val.val() == '--') {
			checkout_card_month_val.focus();
			$('#checkout_enviar').val('Pagar');
			return false;
			
		}

		if (checkout_card_year_val.val() == '' || checkout_card_year_val.val() == '--') {
			checkout_card_year_val.focus();
			$('#checkout_enviar').val('Pagar');
			return false;
			
		}

		if (checkout_card_parcelas_val.val() == '' || checkout_card_parcelas_val.val() == '--') {
			checkout_card_parcelas_val.focus();
			$('#checkout_enviar').val('Pagar');
			return false;
			
		}
		
	
		/* CARTÃO */

		var checkout_card_number = $("#checkout_card_number").val();
		checkout_card_number = checkout_card_number.replace(/[^0-9\.]/g,'');


		// SE FOR CARTÃO DE CRÉDITO, FAZER A VALIDAÇÃO ABAIXO
		var params = {
			cardNumber: checkout_card_number,
			cvv: $('#checkout_cvv').val(),
			expirationMonth: $('#checkout_card_month').val(),
			expirationYear: $('#checkout_card_year').val(),
			success: function (response) {
				console.log("createCardToken: "+response.card.token);

				$('#checkout_card_token').val(response.card.token);
				
				if ( $('#checkout_sender_hash').val().length > 0 && $('#checkout_card_token').val().length > 0 ) {
					$('#formulario-pagseguro').submit();
				}else{
					alert('Verifique as informações inseridas.');
					$('#checkout_enviar').val('Pagar');
				}
			},
			error: function (response) {
				console.log('erro createCardToken');
				console.log(response);
				console.log($('#checkout_card_month').val());
				console.log($('#checkout_card_year').val());
				$( "#checkout_confirmar" ).val('Confirmar Dados');
				alert('As informações sobre o cartão estão incorretas.');
				$('#checkout_enviar').val('Pagar');
			},
			complete: function (response) {
				
			}
		}

		PagSeguroDirectPayment.createCardToken(params);

		/* FIM CARTÃO */

	}else{

		if( $('#checkout_sender_hash').val().length > 0 ){
			$('#formulario-pagseguro').submit();
		}else{
			alert('Verifique as informações inseridas.');
			$('#checkout_enviar').val('Pagar');
		}

	}
	
});

</script>

<!-- <script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script> -->
<script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>