<div class="pagina-obrigado">
	<div class="container">

		<div class="row">

			<h1>Obrigado por comprar na Mesclado</h1>

			<p>Você receberá um e-mail com o status da transação.</p>

			<% unless @url_popup.nil? %>
				<p>Para efetuar seu pagamento, clique no botão abaixo para visualizar o boleto!</p>
				<%= link_to 'Ver Boleto', @url_popup, target: "_blank", class: "ver_boleto" %>
			<% end %>


			<p>Verifique todos os seus pedidos em: <%= link_to 'Minha conta', transactions_index_path %></p>

			

		</div>

	</div>
</div>