- with_ga ||= false

.page-container.active{ style: ('position: relative;' if params[:page] == 0 and list.length < 9), data: { page: params[:page] } }
  - list.each_slice(3) do |slice|
    .row.products-row
      = render partial: 'products/thumb', collection: slice, as: :product, locals: { div_style: 'display: inline-block', with_ga: with_ga }
      -# - slice.each do |p|
      -#   = render 'products/thumb', product: p
