
.search-content
  .close-search= fa_icon 'times 4x'
  - unless @products.empty? and @artists.empty?
    %ul.nav.nav-tabs{ role: 'tablist' }
      - if @products.present?
        %li.active= link_to 'Artes', '#products', role: 'tab', :'data-toggle' => 'tab'
      - if @artists.present?
        %li{ class: ('active' if @products.empty?) }= link_to 'Artistas', '#artists', role: 'tab', :'data-toggle' => 'tab'

    .tab-content
      - if @products.present?
        .tab-pane.fade.active.in#products= render 'shared/list', list: @products, n: 9, page: 'products/page', ajax_url: '/produtos/pagina'
      - if @artists.present?
        .tab-pane.fade#artists{ class: ('active in' if @products.empty?) }= render 'shared/list', list: @artists, n: 12, page: 'artists/page', ajax_url: '/artistas/pagina'
  - else
    %p.no-results.text-center Nenhum resultado foi encontrado.
