- div_class ||= ''
- div_style ||= ''
- with_ga ||= false

%div{ class: div_class, style: div_style }
  = link_to product, class: 'product-thumb', onclick: "ga('send', 'event', 'Home', 'Galeria', 'Comprar');" do
    = image_tag product.photo.url(:standard)
    .overlay-area
      - pv = product.product_variation
      - if pv.present? and pv.photo.present?
        = image_tag pv.photo.url(:thumb), class: 'product-thumb-image'
      / .thumb-details.details-top.text-center
      /   %p.product-name= product.name
      /   %p.artist-name
      /     %span por
      /     = link_to product.artist.name, product.artist
      / = link_to 'Comprar', product, class: 'black-button'
      .thumb-details.text-center
        .row
          .col-xs-18
            %p.product-name= product.name
            / %p.artist-name
            /   %span por
            /   = link_to product.artist.name, product.artist
          .col-xs-11.col-xs-offset-1
            - if product.possible_promotions.present?
              %p.price-no-discount= "de #{product.price_in_cents.to_brazilian_currency}"
              %p.price= "por #{product.total_value.to_brazilian_currency}"
            - else
              %p.price= product.total_value.to_brazilian_currency
