.variation-options{ data: { product: product.id } }
  - product.possible_values.each do |k, v|
    .variation-line
      .variation-title= k == 'sizes' ? 'Tamanhos' : k.name
      - type_value = k == 'sizes' ? 0 : k.id
      .variation-values{ data: { type: type_value } }
        - some_selected = false
        - v.each_with_index do |value, i|
          - unless product_variation.can_have_value?(type_value, value.id) and type_value == 0 and some_selected == false
            - selected = product_variation.selected_value?(type_value, value.id)
            / - some_selected = true
            / - selected = true
          / - else
          .value-icon{ class: "#{'selected' if selected}#{'inactive' unless product_variation.can_have_value?(type_value, value.id)}", data: { value: value.id, related: value.related_values_for(product).to_a } }
            - if value.photo.present?
              = image_tag value.photo.url(:icon), class: 'not-selected-photo'
              = image_tag value.selected_photo.url(:icon), class: 'selected-photo'
            - else
              .color-image{ style: "background-color: #{value.value}" }

= link_to 'Tabela de Medidas', 'javaScript:void(0);', onClick: "$('#product-metrics').fadeIn('fast');", class: 'metrics-link'
