- meta title: 'Artes', description: 'Mais de 600 estampas com estilos variados'

.products-organizer.text-center
  = render 'outsiders/facebook_pixel_categories'
  - if @keywords.present?
    .organize-products.keywords
      .organizer-bt
        Tags
        = fa_icon 'angle-down 2x'
      .organizer-popup
        .search-keywords
          %input{ type: 'text' }
          = fa_icon 'search'
        .possible-keywords
          - @keywords.each do |k|
            = link_to k.name.capitalize, products_path(tag: k.name), data: { key: k.name }
  .divider
  / .organize-products.price
  /   .organizer-bt
  /     Preço
  /     = fa_icon 'angle-down 2x'
  /   .organizer-popup
  /     = link_to 'Crescente', products_path(price: 'ASC')
  /     = link_to 'Decrescente', products_path(price: 'DESC')
  = link_to products_path, class: 'random-products-link' do
    Random
    = fa_icon 'random'

= render 'shared/list', list: @products, n: 9, page: 'products/page', ajax_url: '/produtos/pagina'
