- meta og: { title: @product.name, type: 'website', url: request.url, image: @product.photo.url(:standard), description: ActionController::Base.helpers.strip_tags(@product.technical_details.html_safe) }, title: @product.name

.container.product-show
  = render 'outsiders/facebook_pixel_product'
  .row
    .col-xs-15
      = image_tag @product_variation.photo.url(:original), class: 'product-variation-photo in'
      = image_tag '', class: 'product-variation-photo absolute out'
      = image_tag @product.photo.url(:standard), class: 'product-photo'
    .col-xs-14.product-show-info
      %h1= @product.name
      %h3
        por
        = link_to @product.artist.name.upcase, @product.artist
      .price
        - if @product_variation.product.discount > 0
          %p.discount-from= "De #{@product_variation.price_in_cents_no_discount.to_brazilian_currency} por"
        %span.white R$
        %span.black= @product_variation.price_in_cents.to_brazilian_currency.gsub('R$ ', '')
      .bottom-area
        = render partial: 'variation_options', locals: { product: @product, product_variation: @product_variation }
        .buy-button-row
          = link_to cart_cart_items_path(current_cart, redirect_to_cart: true), method: :post, class: 'buy-button', remote: true, onclick: "window.start_loading();" do
            = fa_icon 'shopping-cart'
            Comprar
          - if user_signed_in?
            - favorite = current_user.has_favorite?(@product)
            - path = favorite.present? ? favorite_path(favorite) : product_favorites_path(@product)
            - method = favorite.present? ? :delete : :post
            = link_to path, class: "favorite-button #{'yellow' if favorite.present?}", method: method, remote: true, onclick: 'window.start_loading();' do
              = fa_icon 'star'


.ajax-photos
  - @product.product_variations.ready.each do |pv|
    .product-variation{ data: { :'product-variation-id' => pv.id, url: pv.photo.url(:standard), values: pv.product_variation_type_values.pluck(:id) } }


- if !@product.technical_details.blank? or !@product.inspiration.blank?
  .container.product-details
    %ul.nav.nav-tabs{ role: 'tablist' }
      - if !@product.technical_details.blank?
        %li.active= link_to 'Descrição', '#technical_details', role: 'tab', :'data-toggle' => 'tab'
      - if !@product.inspiration.blank?
        %li{ class: ('active' if @product.technical_details.blank?) }= link_to 'Inspiração', '#inspiration', role: 'tab', :'data-toggle' => 'tab'

    .tab-content
      - if !@product.technical_details.blank?
        .tab-pane.fade.active.in#technical_details= @product.technical_details.html_safe
      - if !@product.inspiration.blank?
        .tab-pane.fade#inspiration{ class: ('active in' if @product.technical_details.blank?) }=  @product.inspiration.html_safe

.container.other-products
  .row.other-products-line
    .col-xs-30
      .other-products-title Outras Artes
      %hr
  .row.text-center
    = render partial: 'products/thumb', collection: @other_products, as: :product, locals: { div_style: 'display: inline-block;' }
    -# - @other_products.each do |product|
    -#   = render 'products/thumb', product: product


#product-metrics{ onClick: "$(this).fadeOut('fast');" }
  = image_tag 'tabela-de-tamanhos.jpg'


#variations-modal.modal.fade{ tabindex: '-1', role: 'dialog', :'aria-labelledby' => 'modal', :'aria-hidden' => 'true' }
  .modal-dialog.modal-md
    .close{ type: 'button', data: { dismiss: 'modal' } }
      %span{ :'aria-hidden' => 'true' } &times;
      %span.sr-only Close
    .modal-content.product-show
      %h2 Escolha os detalhes do produto para poder adiciona-lo ao carrinho.
      = render partial: 'variation_options', locals: { product: @product, product_variation: @product_variation }
      .buy-button-row
        = link_to cart_cart_items_path(current_cart), method: :post, class: 'buy-button', remote: true, onclick: "window.start_loading(); ga('send', 'event', 'Produto', '#{@product.name}', 'To Carrinho');" do
          = fa_icon 'shopping-cart'
          Comprar
