- if @banner.url.present?
  = link_to @banner.url do
    #header-carousel
      - @banner.banner_photos.each do |bp|
        / = image_tag bp.photo.url(:big)
        .item.cover{ style: "background-image: url('#{bp.photo.url(:big)}');"}
- else
  #header-carousel
    - @banner.banner_photos.each do |bp|
      / = image_tag bp.photo.url(:big)
      .item.cover{ style: "background-image: url('#{bp.photo.url(:big)}');"}