%footer
  .container
    .row.footer-line
      .col-xs-30
        %hr
    .row
      .col-xs-30.footer-content
        .col-footer
          .footer-title Institucional
          .footer-links
            - @static_pages.each do |sp|
              = link_to sp.final_name, sp
            - if @pos.any?
              = link_to 'Pontos de Venda', pos_path
        .col-footer#newsletter
          .footer-title Fique por dentro!
          .footer-form
            - session[:return_to] ||= request.referer
            = semantic_form_for Newsletter.new, html: { class: 'float-label' }, remote: true do |f|
              .float-label-input
                = f.email_field :email, onkeyup: "this.setAttribute('value', this.value);"
                = f.label :email, 'Digite seu e-mail'
              = f.action :submit, as: :button, label: 'Enviar', button_html: { onclick: "window.start_loading();" }
        .col-footer
          .footer-title Formas de pagamento
          .footer-images
            .center
              = link_to 'https://pagseguro.uol.com.br', target: '_blank' do
                = image_tag 'pagamento.gif', title: 'Este site aceita pagamentos com Visa, MasterCard, Diners, American Express, Hipercard, Aura, Elo, PLENOCard, PersonalCard, BrasilCard, FORTBRASIL, Cabal, Mais!, Avista, Grandcard, Sorocred, Bradesco, Itaú, Banco do Brasil, Banrisul, Banco HSBC, saldo em conta PagSeguro e boleto.', border: '0'
        .col-footer
          .footer-title Segurança e Credibilidade
          .footer-images
            = link_to "https://www.expeditedssl.com/ssl-action-scanner/scan?target_domain=www.mesclado.com.br", target: '_blank' do
              = image_tag 'ssl.png'
        .col-footer
          .footer-title Siga mesclado
          .footer-links
            = link_to 'https://www.facebook.com/pages/sejaMesclado/1402779966656313' do
              = fa_icon 'facebook', text: 'fb.com/sejaMesclado'
            = link_to 'https://instagram.com/sejamesclado' do
              = fa_icon 'instagram', text: 'instagram.com/sejaMesclado'
            = link_to 'https://www.pinterest.com/sejamesclado/' do
              = fa_icon 'pinterest', text: 'pinterest.com/sejaMesclado'
