%nav.navbar.navbar-default.navbar-fixed-top{ class: "#{'black-bar' unless @banner.present?}", role: 'navigation' }
  .container{ style: 'position: relative;' }
    %ul.nav
      %li= link_to 'artistas', artists_path, onclick: "ga('send', 'event', 'Home', 'Head', 'Artista');"
      %li= link_to 'galeria', products_path, onclick: "ga('send', 'event', 'Home', 'Head', 'Galeria');"
      %li= link_to 'Sobre', about_path, onclick: "ga('send', 'event', 'Home', 'Head', 'Sobre');"
      %li= link_to 'contato', new_contact_path, onclick: "ga('send', 'event', 'Home', 'Head', 'Contato');"
      %li.dropdown
        = link_to 'outros', '#', data: { toggle: 'dropdown', target: '#' }, role: 'button', :'aria-haspopup' => 'true', :'aria-expanded' => 'false', id: 'aboutlabel', onclick: "ga('send', 'event', 'Home', 'Head', 'Outros');"
        %ul.dropdown-menu{ aria: { labelledby: 'aboutlabel' } }
          - if page = StaticPage.find_by_slug('trocas-e-devolucoes')
            %li= link_to page.name, page
          - if @pos.any?
            %li= link_to 'Pontos de Venda', pos_path
          - if page = StaticPage.find_by_slug('faq')
            %li= link_to page.name, page
    .brand= link_to image_tag('logo.png'), root_path
    %ul.nav.nav-right
      - if user_signed_in?
        %li
          / = link_to current_user, data: { toggle: 'modal', target: '#modal' } do
          = link_to edit_user_registration_path do
            = fa_icon 'user'
            Minha conta
        %li
          = link_to destroy_user_session_path, method: :delete do
            = fa_icon 'sign-out'
            Sair
      - else
        %li
          = link_to new_user_session_path, data: { toggle: 'modal', target: '#modal-lg' }, id: 'register-header-button' do
            = fa_icon 'lock'
            Login / Cadastro
      %li
        .shopping-cart
          %span.cart-items-counter= get_cart.total_items
          = fa_icon 'shopping-cart 2x'

    .floating-cart
      = render 'carts/floating'

    .search
      Buscar
      = fa_icon 'search'

  .row.search-bar
    .container
      .row.search-title-row
        .col-xs-30
          %p.search-title Buscar
          %p.search-sub-title Comece digitando algo...
      .row
        .col-xs-30
          = text_field_tag :search, params[:search], onkeyup: "this.setAttribute('value', this.value);", autocomplete: :off
.search-results

