!!!
%html
  %head
    = favicon_link_tag 'favicon.ico'

    = stylesheet_link_tag    'application', media: 'all'
    / = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    / = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    / %meta{ name: 'viewport', content: 'user-scalable=no' }
    = render 'outsiders/analytics_code'
    = render 'outsiders/facebook_pixel'
    = render 'outsiders/navegg'
    = render 'outsiders/inspectlet'
    - if @success_buy
      = render 'outsiders/adwords_conversion'
      = render 'outsiders/analytics_conversion'
      = render 'outsiders/navegg_conversion'
      = render 'outsiders/facebook_pixel_buy'

    = metamagic site: 'Mesclado', title: [:title, :site], separator: " - ", fb: { app_id: ENV['FACEBOOK_APP_ID'] }, og: { site_name: 'Mesclado'}

  %body{ class: ('mobile-browser' if browser.mobile?) }
    = render 'outsiders/facebook_sdk_code'
    #loading-overlay
      = image_tag 'mesclado-load.gif'
    - flash.each do |name, msg|
      - if msg.class == Array
        - msg.each do |msg1|
          = js add_gritter msg1, :class_name => "gritter-#{name}", title: I18n.t("gflash.titles.#{name}")
      - else
        = js add_gritter msg, :class_name => "gritter-#{name}", title: I18n.t("gflash.titles.#{name}")
    .container-fluid
      = render 'layouts/header'
      - if @banner.present? and @banner.banner_photos.present?
        = render 'layouts/banner'
      = yield
      = render 'layouts/footer'


    -# MODALS
    #modal-lg.modal.fade{ tabindex: '-1', role: 'dialog', :'aria-labelledby' => 'modal', :'aria-hidden' => 'true' }
      .modal-dialog.modal-lg
        .close{ type: 'button', data: { dismiss: 'modal' } }
          %span{ :'aria-hidden' => 'true' } &times;
          %span.sr-only Close
        .modal-content

    - if @reset_user
      #reset_modal.modal.fade{ tabindex: '-1', role: 'dialog', :'aria-labelledby' => 'modal', :'aria-hidden' => 'true' }
        .modal-dialog
          .close{ type: 'button', data: { dismiss: 'modal' } }
            %span{ :'aria-hidden' => 'true' } &times;
            %span.sr-only Close
          .modal-content
            = render partial: 'users/passwords/edit'

    #modal.modal.fade{ tabindex: '-1', role: 'dialog', :'aria-labelledby' => 'modal', :'aria-hidden' => 'true' }
      .modal-dialog
        .close{ type: 'button', data: { dismiss: 'modal' } }
          %span{ :'aria-hidden' => 'true' } &times;
          %span.sr-only Close
        .modal-content
          - if @reset_user
            = render partial: 'users/passwords/edit'

    / - if @success_buy
    /   #success_buy.modal.fade{ tabindex: '-1', role: 'dialog', :'aria-labelledby' => 'modal', :'aria-hidden' => 'true' }
    /     .modal-dialog
    /       .close{ type: 'button', data: { dismiss: 'modal' } }
    /         %span{ :'aria-hidden' => 'true' } &times;
    /         %span.sr-only Close
    /       .modal-content.text-center
    /         .row
    /           .col-xs-30
    /             = fa_icon 'check-circle 5x'
    /         .row
    /           .col-xs-30
    /             %h1 Compra efetuada com sucesso!
    /         .row
    /           .col-xs-30
    /             %p Verifique o status do pedido em
    /         .row
    /           .col-xs-30
    /             = link_to 'Minha conta', transactions_index_path
    = render 'outsiders/remarketing'
