<script type="text/javascript">
// Chamada para o plugin de ecommerce:
  ga('require', 'ecommerce');
 
// Código para adicionar a transação / pedido vendido:
 
  ga('ecommerce:addTransaction', {
  'id': '<%= @buy_cart.id %>', // número do pedido; código de transação
  'affiliation': 'Mesclado', // nome da loja
  'revenue': '<%= @buy_cart.total_price_no_shipping_no_discount / 100.0 %>', // valor total do pedido
  'shipping': '<%= @buy_cart.shipping_price_in_cents / 100.0 %>', // frete
  'currency': 'BRL'  // código de moeda (boa prática)
  });
   // para cada produto comprado é necessário adicionar um novo
   // trecho do código a seguir. Em uma compra de 2 produtos, 
   // seriam 2 ocorrências deste código, cada um com informações
   // sobre um produto.
  <% @buy_cart.cart_items.each do |ci| %>
    ga('ecommerce:addItem', {
      'id': '<%= @buy_cart.id %>', // número do pedido; código de transação
      'name': '<%= ci.name %>', // nome do produto
      'sku': '<%= ci.product_id %>', // código do produto
      'category': '', // categoria do produto
      'price': '<%= ci.total_unit_price / 100.0 %>', // preço do produto
      'quantity': '<%= ci.amount %>', // quantidade comprada no pedido
      'currency': 'BRL' // código de moeda (boa prática)
    });
  <% end %>
  ga('ecommerce:send'); // envia a transação para o GA
// ---- Fim do código para monitoramento de Ecommerce
</script>
