%h2 Novo por aqui?
= semantic_form_for resource, as: resource_name, url: registration_path(resource_name), remote: true, html: { class: 'float-label', id: 'new_user_registration', autocomplete: 'off' } do |f|
  %input{ type: 'password', name: 'password_fake', id: 'password_fake', value: '', style: 'display: none;' }
  .float-label-input
    = f.email_field :email, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
    = f.label :email, 'digite seu e-mail'
    = fa_icon 'envelope'
  .float-label-input
    = f.text_field :name, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
    = f.label :name, 'digite seu nome completo'
    = fa_icon 'user'
  .float-label-input
    = f.text_field :cpf, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
    = f.label :cpf, 'digite seu CPF'
    = fa_icon 'info'
  .float-label-input
    = f.password_field :password, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
    = f.label :password, 'digite sua senha'
    = fa_icon 'lock'
  .show-password{ onclick: "elem = $(this).parents('form').find('#user_password'); if(elem.attr('type') == 'password') elem.attr('type', 'text'); else elem.attr('type', 'password');" }
    = fa_icon 'eye 2x', data: { toggle: 'tooltip', placement: 'top' }, title: 'Mostrar senha'
  = f.input :newsletter, as: :boolean, label: 'Aceito receber newsletter e promoções'
  = f.action :submit, as: :button, label: 'Cadastrar', button_html: { onclick: "window.start_loading();" }
