$(document).ready(function() {
  <% flash.each do |name, msg| %>
    <% unless name == 'success' or name == 'notice' %>
      <%= add_gritter msg, :class_name => "gritter-#{name}", title: I18n.t("gflash.titles.#{name}") %>
    <% end %>
  <% end %>

  <% resource.errors.full_messages.each do |msg| %>
    <%= add_gritter msg, :class_name => "gritter-error", title: I18n.t("gflash.titles.error") %>
  <% end %>

  $('form#new_user_registration').find('.float-label-input').removeClass('error');

  <% resource.errors.each do |error| %>
    <% error = 'name' if error.to_s.include?('name') %>
    $('form#new_user_registration').find('#user_' + "<%= error.to_s %>").parents('.float-label-input:first').addClass('error');
  <% end %>

  <% unless resource.errors.empty? %>
    window.stop_loading();
  <% end %>

  <% if resource.errors.empty? %>
    window.location = "<%= session[:after_redirect] || after_sign_up_path_for(resource) %>";
  <% end %>
});

