= render 'users/account_header', selected: :edit

.container
  = semantic_form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: 'float-label', id: 'edit_user_registration', autocomplete: 'off' } do |f|
    .row
      .col-xs-15
        %h2 Informações pessoais
        .float-label-input
          = f.email_field :email, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
          = f.label :email, 'digite seu e-mail'
          = fa_icon 'envelope'
        .float-label-input
          = f.text_field :name, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
          = f.label :name, 'digite seu nome'
          = fa_icon 'user'
        .float-label-input
          = f.text_field :cpf, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
          = f.label :cpf, 'digite seu CPF'
          = fa_icon 'info'
      .col-xs-15
        %h2 Endereço
        = f.inputs 'Endereço', :for => [:address, f.object.address || Address.new] do |address_form|
          .float-label-input{ class: ('error' if f.object.errors["address.zip_code".to_sym].present?) }
            = address_form.text_field :zip_code, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
            = address_form.label :zip_code
            = fa_icon 'map-marker'
          .float-label-input{ class: ('error' if f.object.errors["address.street".to_sym].present?) }
            = address_form.text_field :street, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
            = address_form.label :street
            = fa_icon 'map-marker'
          .float-label-input{ class: ('error' if f.object.errors["address.street_number".to_sym].present?) }
            = address_form.text_field :street_number, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
            = address_form.label :street_number
            = fa_icon 'map-marker'
          .float-label-input{ class: ('error' if f.object.errors["address.complement".to_sym].present?) }
            = address_form.text_field :complement, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
            = address_form.label :complement
            = fa_icon 'map-marker'
          .float-label-input{ class: ('error' if f.object.errors["address.neighborhood".to_sym].present?) }
            = address_form.text_field :neighborhood, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
            = address_form.label :neighborhood
            = fa_icon 'map-marker'
          .float-label-input{ class: ('error' if f.object.errors["address.city".to_sym].present?) }
            = address_form.text_field :city, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
            = address_form.label :city
            = fa_icon 'map-marker'
          .float-label-input{ class: ('error' if f.object.errors["address.state".to_sym].present?) }
            = address_form.text_field :state, onkeyup: "this.setAttribute('value', this.value);", autocomplete: 'off'
            = address_form.label :state
            = fa_icon 'map-marker'
    .row
      = f.action :submit, as: :button, label: 'Atualizar'
